@import "../../bibase";

.bi-formula-insert {
  & .more-function-button {
    & {
      color: @color-bi-text-highlight
    }
  }
  & .bi-formula-field-pane {
    border-top: 1px solid @color-bi-border-normal;
    border-left: 1px solid @color-bi-border-normal;
    border-bottom: 1px solid @color-bi-border-normal;
  }
  & .bi-formula-editor {
    border-left: 1px solid @color-bi-border-normal;
    border-top: 1px solid @color-bi-border-normal;
    border-right: 1px solid @color-bi-border-normal;

  }
  & .bi-water-mark {
    font-size: 14px;
  }

  & .proxy_div {
    font-size: 13px;
    background-color: @color-bi-background-highlight;
    color: @color-bi-text;
    opacity: 0.7;
    cursor: pointer;
  }
}