@import "../../bibase";

.bi-formula-function-pane {
  & .style-inner {
    & {
      border-left: 1px solid @color-bi-background-dark;
      border-top: 1px solid @color-bi-background-dark;
    }
  }
  & .style-top {
    border-top: 1px solid @color-bi-background-dark;
  }
  & .style-left {
    border-left: 1px solid @color-bi-background-dark;
  }
  &{
    background-color: @color-bi-background-default;
  }

}