/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-loading-bar .loading-text {
  color: #808080;
}
.bi-loading-bar .loading-text:hover,
.bi-loading-bar .loading-text.hover {
  color: #009de3;
}
.bi-loading-bar .loading-text.disabled,
.bi-loading-bar .loading-text.disabled:hover,
.bi-loading-bar .loading-text.disabled:active {
  color: #ffffff;
}
