@import "../../../index";

.bi-checkbox {
  & .checkbox-content, &.checkbox-content {
    .border-radius(2px);
    border: 1px solid @color-bi-border-dark-line;
    box-sizing: border-box;
    &:after {
      position: absolute;
      display: table;
      top: 50%;
      left: 20%;
      border: 2px solid transparent;
      border-top: 0;
      border-left: 0;
      width: 6px;
      height: 9px;
      .box-sizing(border-box);
      .transform(rotate(45deg) scale(1) translate(-50%, -50%));
      content: '';
    }
    &.hover, &:hover {
      border-color: @color-bi-border-highlight;
    }
  }
  &.active, &:active {
    & .checkbox-content, &.checkbox-content{
      border-color: @color-bi-border-highlight;
      &:after {
        border-color: @color-bi-border-default;
        opacity: 1;
      }
    }
  }
  &.disabled {
    & .checkbox-content, &.checkbox-content {
      background-color: @color-bi-background-disabled;
      border-color: @color-bi-border-disabled;
    }
    & .checkbox-content:after, &.checkbox-content:after {
      opacity: 0;
    }
    &.active {
      & .checkbox-content, &.checkbox-content {
        background-color: @color-bi-background-dark-gray;
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.bi-theme-dark {
  .bi-checkbox {
    & .checkbox-content, &.checkbox-content {
      border-color: @color-bi-border-dark-line-theme-dark;
      &.hover, &:hover {
        border-color: @color-bi-border-highlight;
      }
    }
    &.active, &:active {
      & .checkbox-content, &.checkbox-content {
        border-color: @color-bi-border-highlight;
      }
    }
    &.disabled {
      & .checkbox-content, &.checkbox-content {
        background-color: @color-bi-background-disabled-theme-dark;
      }
      &.active {
        & .checkbox-content, &.checkbox-content {
          background-color: @color-bi-background-dark-gray-theme-dark;
          border-color: @color-bi-border-disabled-theme-dark;
        }
      }
    }
  }
}
