@import "../../../index";

.bi-input, .bi-textarea{
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  .size(100%,100%);

  &.bi-input-focus{
    border: none;
  }

  &.bi-input-error{
    border: none;
    color:@color-bi-color-error-input-text-area !important;
  }
}