@import "../../../index";

.bi-radio {
  & .radio-content {
    .border-radius(8px);
    &:after {
      content: "";
    }
  }
  &:active, &.active {
    & .radio-content:after {
      width: 6px;
      height: 6px;
      display: table;
      position: absolute;
      top: 50%;
      left: 50%;
      .border-radius(3px);
      background-color: @color-bi-background-default;
      .transform(translate(-50%, -50%));
    }
  }
  &.disabled {
    & .radio-content:after {
      background-color: transparent;
    }
    &.active {
      & .radio-content {
        background-color: @color-bi-background-dark-gray;
        &:after {
          background-color: @color-bi-background-default;
        }
      }
    }
  }
}