.bi-checkbox .checkbox-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #9EA6B2;
}
.bi-checkbox .checkbox-content:after {
  position: absolute;
  display: table;
  top: 50%;
  left: 20%;
  border: 2px solid transparent;
  border-top: 0;
  border-left: 0;
  width: 4px;
  height: 8px;
  -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
  -moz-transform: rotate(45deg) scale(1) translate(-50%, -50%);
  -o-transform: rotate(45deg) scale(1) translate(-50%, -50%);
  -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  content: '';
}
.bi-checkbox.active .checkbox-content,
.bi-checkbox:active .checkbox-content {
  border-color: #3685f2;
}
.bi-checkbox.active .checkbox-content:after,
.bi-checkbox:active .checkbox-content:after {
  border-color: #ffffff;
  opacity: 1;
}
.bi-checkbox.disabled .checkbox-content {
  background-color: #d0d4da;
}
.bi-checkbox.disabled .checkbox-content:after {
  opacity: 0;
}
.bi-checkbox.disabled.active .checkbox-content {
  border-color: #e8eaed;
}
.bi-checkbox.disabled.active .checkbox-content:after {
  opacity: 1;
}
.bi-theme-dark .bi-checkbox .checkbox-content {
  border-color: #9EA6B2;
}
.bi-theme-dark .bi-checkbox.active .checkbox-content,
.bi-theme-dark .bi-checkbox:active .checkbox-content {
  border-color: #3685f2;
}
