.bi-input,
.bi-textarea {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.bi-input.bi-input-focus,
.bi-textarea.bi-input-focus {
  border: none;
}
.bi-input.bi-input-error,
.bi-textarea.bi-input-error {
  border: none;
  color: #ff4949 !important;
}
