.bi-radio .radio-content {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.bi-radio .radio-content:after {
  content: "";
}
.bi-radio:active .radio-content:after,
.bi-radio.active .radio-content:after {
  width: 6px;
  height: 6px;
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bi-radio.disabled:active .radio-content:after,
.bi-radio.disabled.active .radio-content:after {
  background-color: transparent;
}
