.bi-radio .radio-content {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #9EA6B2;
}
.bi-radio .radio-content:after {
  content: "";
}
.bi-radio .radio-content.hover,
.bi-radio .radio-content:hover {
  border-color: #3685f2;
}
.bi-radio:active .radio-content,
.bi-radio.active .radio-content {
  border-color: #3685f2;
}
.bi-radio:active .radio-content:after,
.bi-radio.active .radio-content:after {
  width: 6px;
  height: 6px;
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bi-radio.disabled .radio-content {
  background-color: #F2F4F7;
  border-color: #d0d4da;
}
.bi-radio.disabled .radio-content:after {
  background-color: transparent;
}
.bi-radio.disabled.active .radio-content {
  background-color: #d0d4da;
}
.bi-radio.disabled.active .radio-content:after {
  background-color: #ffffff;
}
.bi-theme-dark .bi-radio .radio-content {
  border-color: #878D9F;
}
.bi-theme-dark .bi-radio .radio-content.hover,
.bi-theme-dark .bi-radio .radio-content:hover {
  border-color: #3685f2;
}
.bi-theme-dark .bi-radio.active .radio-content,
.bi-theme-dark .bi-radio:active .radio-content {
  border-color: #3685f2;
}
.bi-theme-dark .bi-radio.disabled .radio-content {
  background-color: #2F3149;
}
.bi-theme-dark .bi-radio.disabled .radio-content.hover,
.bi-theme-dark .bi-radio.disabled .radio-content:hover {
  border-color: #878D9F;
}
.bi-theme-dark .bi-radio.disabled.active .radio-content {
  background-color: #606479;
  border-color: #606479;
}
