.bi-multidate-combo {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}



.bi-multidate-popup .multidate-popup-label {
  color: #3685f2;
  font-size: 14px;
}
.bi-multidate-popup .multidate-popup-item:active,
.bi-multidate-popup .multidate-popup-item.active {
  background-color: #3685f2;
  color: #ffffff;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.bi-multidate-popup .multidate-popup-button {
  color: #3685f2;
  font-size: 14px;
}


.bi-multidate-segment .bi-multidate-editor {
  font-size: 14px;
}


