/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-multidate-popup .bi-multidate-popup-label {
  color: #009de3;
  font-size: 14px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}
.bi-multidate-popup .bi-multidate-popup-tab {
  border-bottom: 1px solid #eaeaea;
}
.bi-multidate-popup .bi-multidate-popup-item:active,
.bi-multidate-popup .bi-multidate-popup-item.active {
  background-color: #009de3;
  color: #ffffff;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.bi-multidate-popup .bi-multidate-popup-button {
  color: #009de3;
  font-size: 14px;
  border-top: 1px solid #eaeaea;
}
