.bi-multifile-editor .multifile-editor {
  text-align: right;
  cursor: pointer;
  font-size: 100px;
  z-index: 2;
  margin-left: -5px;
}

.bi-textarea-editor {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.bi-textarea-editor .textarea-editor-content {
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 21px;
  border: none;
}
.bi-textarea-editor .textarea-watermark {
  max-height: 100%;
}
