/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-textarea-editor {
  overflow-x: hidden;
  overflow-y: hidden;
}
.bi-textarea-editor .textarea-editor-content {
  font-size: 12px;
}
.bi-textarea-editor .textarea-editor-content {
  border: none;
}
.bi-textarea-editor .textarea-editor-content.textarea-editor-focus {
  border: 1px solid #009de3;
}
