/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/*************BI.SearchEditor******************/
.bi-search-editor {
  border: 1px solid #d4dadd;
}
.bi-search-editor .close-font {
  font-size: 20px;
}
.bi-search-editor .search-font {
  font-size: 20px;
}
