.bi-multi-select-check-selected-button {
  z-index: 1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.bi-multi-select-check-selected-button .count-tip {
  min-width: 16px;
}
