.bi-multi-select-block-editor .label-wrapper .label-item {
  background-color: rgba(54, 133, 242, 0.06);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0f3685f2,endColorstr=#0f3685f2);
}
.bi-multi-select-block-editor .search-editor {
  min-width: 25px;
}
