@import "../../index.less";

.bi-number-interval {
  &.hack {
    .border-radius(0px);
  }
  & .number-interval-small-editor {
    .border-corner-left-radius(2px, 2px);
  }
  & .number-interval-big-editor {
    .border-corner-right-radius(2px, 2px);
  }
  & .number-interval-big-combo {
    .border-corner-left-radius(2px, 2px);
    & .bi-icon-combo-trigger {
      & .icon-combo-trigger-icon {
        font-size: @font-size-14;
      }
    }
  }

  & .number-interval-small-combo {
    .border-corner-right-radius(2px, 2px);
    & .bi-icon-combo-trigger {
      & .icon-combo-trigger-icon {
        font-size: @font-size-14;
      }
    }
  }

  &.number-error .bi-input {
    color: @color-bi-text-failure !important;
  }
}