@import "index";

.demo-face {
  .face-config {
    border-left: 1px solid @color-bi-border-normal;
    .config-label {
      font-size: 14px;
    }
    .config-item {
      border-bottom: 1px solid @color-bi-border-normal;
    }
  }
}