@import "index.less";
.layout-bg-white {
  background-color: #ffffff;
}

.layout-bg-gray {
  background-color: #eeeeee;
}

.layout-bg1 {
  color: #ffffff;
  background-color: #0088cc;
}

.layout-bg2 {
  color: #ffffff;
  background-color: #008B8B;
}

.layout-bg3 {
  color: #ffffff;
  background-color: #6495ED;
}

.layout-bg4 {
  color: #ffffff;
  background-color: #ff69b4;
}

.layout-bg5 {
  color: #ffffff;
  background-color: #B8860B;
}

.layout-bg6 {
  color: #ffffff;
  background-color: #d9534f;
}

.layout-bg7 {
  color: #ffffff;
  background-color: #ea4738;
}

.layout-bg8 {
  color: #ffffff;
  background-color: #6495ed;
}

.demo-main {
  & .bg1 {
    background-color: #178cdf;
  }
}

body {
  background-color: @color-bi-background-normal;
}

#wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bi-theme-dark body {
  background-color: @color-bi-background-normal-theme-dark;
}

.demo-editor {
  border: 1px solid rgb(204, 204, 204);
}

.demo-clolor {
  color: #1a1a1a;
}

.bi-progress-bar-processor {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  background: #3f8ce8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bi-progress-text-bar-processor {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.bi-progress-bar-bar {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}