@import "index";

.demo-preview {
  .preview-title {
    border-bottom: 1px solid @color-bi-border-normal;
  }
  .preview-card {
    background-color: @color-bi-background-default;
  }
}

.bi-theme-dark {
  .demo-preview {
    .preview-card {
      background-color: @color-bi-background-default-theme-dark;
    }
  }
}