@import "index.less";

.mvc-button {
  &:hover, &.hover {
    .opacity(0.5);
  }
  &.active, &:active {
    .opacity(0.5)
  }
}

.bi-set-get {
  & .left-title, & .right-title {
    background: #0088cc;
    color: #ffffff;
  }
  & .left-nav {
    border-bottom: 1px solid #cccccc;
    &.active, &:active {
      color: #ffffff;
      background-color: #d9534f;
    }
  }
}

.bi-local {
  & .top-button {
    background-color: #448eea;
    color: #ffffff
  }
  & .bottom-label {
    background-color: #EA4738;
    color: #ffffff;
  }
  & .delete-button {
    background-color: #008B8B;
    color: #ffffff;
  }
  & .vessel-border {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  }
}

.bi-event {
  & .title {
    background: #0088cc;
    color: #ffffff;
  }
  & .front {
    background: #ADD8E6;
  }
  & .nav {
    border: 1px solid #cccccc;
  }
}

.bi-skip-to {
  color: #ffffff;

  & .red-pane {
    background-color: #0088cc;
  }
  & .blue-pane {
    background-color: #6495ED;
  }
  & .green-pane {
    background-color: #008B8B;
  }
  & .yellow-pane {
    background-color: #B8860B;
  }
}

.bi-change {
  & .outer-text {
    background-color: #0088cc;
    color: #ffffff;
  }
  & .inner {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  }

  & .type-first {
    background-color: #008B8B;
  }

  & .type-second {
    background-color: #6495ED;
  }

  & .type-third {
    background-color: #0088cc;
  }
}

.bi-tmp {
  & .tmp-button {
    color: #ffffff;
    background: #0088cc;
  }
}

.bi-splice-duplicate {
  & .superiors-label {
    color: white;
    background-color: #008B8B;
  }
  & .sd-child {
    border: 1px solid #cccccc;
    & .right-button-add {
      color: white;
      background-color: #0088cc;
    }
    & .right-button-del {
      color: white;
      background-color: #d9534f;
    }
  }
}