@import "index";

.demo-west {
  background-color: @color-bi-background-default;
  border-right: 1px solid @color-bi-border-line;
}

.bi-theme-dark {
  .demo-west {
    background-color: @color-bi-background-default-theme-dark;
  }
}