@import "../../bibase";

.bi-tree-list-popup {
  border-left: 1px solid @color-bi-border-normal;
  border-right: 1px solid @color-bi-border-normal;
  border-bottom: 1px solid @color-bi-border-normal;
}