.bi-f-lr-v-c {
  > .flex-left-auto {
    margin-left: auto;

    // 当隐藏的元素出现在中间某个元素的情况
    + .flex-left-auto.invisible {
      + .flex-left-auto {
        margin-left: initial;
      }
    }

    &:not(.invisible) + .flex-left-auto {
      margin-left: initial;
    }
  }
}
