.bi-inline-center-adapt-layout {
  &:after {
    display: inline-block;
    width: 0;
    min-height: 100%;
    vertical-align: middle;
    content: ' ';
  }

  & > .inline-center-adapt-item {
    display: inline-block;

    &.x-icon {
      display: inline-block !important;
    }
  }

  & > .bi-combo {
    &.bi-combo-popup {
      display: inline-block !important;
    }
  }
}

.bi-inline-horizontal-adapt-layout {
  &:after {
    display: inline-block;
    width: 0;
    min-height: 100%;
    vertical-align: middle;
    content: ' ';
  }

  & > .inline-horizontal-adapt-item {
    display: inline-block;

    &.x-icon {
      display: inline-block !important;
    }
  }

  & > .bi-combo {
    &.bi-combo-popup {
      display: inline-block !important;
    }
  }
}

.bi-inline-vertical-adapt-layout {
  &:after {
    display: inline-block;
    width: 0;
    min-height: 100%;
    vertical-align: middle;
    content: ' ';
  }

  & > .inline-vertical-adapt-item {
    display: inline-block;

    &.x-icon {
      display: inline-block !important;
    }
  }

  & > .bi-combo {
    &.bi-combo-popup {
      display: inline-block !important;
    }
  }
}
