.bi-inline-center-adapt-layout:after {
  display: inline-block;
  width: 0;
  min-height: 100%;
  vertical-align: middle;
  content: ' ';
}
.bi-inline-center-adapt-layout > .inline-center-adapt-item {
  display: inline-block;
}
.bi-inline-center-adapt-layout > .inline-center-adapt-item.x-icon {
  display: inline-block !important;
}
.bi-inline-center-adapt-layout > .bi-combo.bi-combo-popup {
  display: inline-block !important;
}

.bi-inline-vertical-adapt-layout:after {
  display: inline-block;
  width: 0;
  min-height: 100%;
  vertical-align: middle;
  content: ' ';
}
.bi-inline-vertical-adapt-layout > .inline-vertical-adapt-item {
  display: inline-block;
}
.bi-inline-vertical-adapt-layout > .inline-vertical-adapt-item.x-icon {
  display: inline-block !important;
}
.bi-inline-vertical-adapt-layout > .bi-combo.bi-combo-popup {
  display: inline-block !important;
}
