@import "../../index";

.bi-formula-editor {
  & .error-field {
    display: inline-block;
    background: @color-bi-background-failure;
    color: @font-color-white;
    padding: 0 5px;
    margin: 1px 1px;
  }
}
