@import "../../../../bibase";

.bi-file-manager-nav-button {
  & .file-manager-nav-button-text {
    max-width: 200px;
    &.active {
      background-color: @color-bi-background-normal;
      color: @color-bi-text-gray;
    }
  }
  & .file-manager-nav-button-triangle {
    z-index: 1;
  }
}

.bi-theme-dark {
  .bi-file-manager-nav-button {
    & .file-manager-nav-button-text {
      &.active {
        background-color: @color-bi-background-normal-theme-dark;
        color: @color-bi-text-gray;
      }
    }
  }
}