@import "../../index.less";

.display-block {
  display: block;
}

.display-inline {
  .inline-block();
}

.display-table {
  display: table;
}

/**常用于span元素在与combo并列时**/
.vertical-super {
  vertical-align: super;
}

.vertical-top {
  vertical-align: top;
}

.horizon-center {
  text-align: center;
}

.horizon-left {
  text-align: left;
}