/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-formula-symbol-group .symbol-button:hover,
.bi-formula-symbol-group .symbol-button.hover,
.bi-formula-symbol-group .symbol-button:active,
.bi-formula-symbol-group .symbol-button.active {
  color: #009de3;
  background-color: #f4f4f4;
  border: 1px solid #d4dadd;
}
.bi-formula-symbol-group .symbol-button {
  color: #009de3;
  border: 1px solid #ffffff;
}
.symbol-group-column {
  border: 1px solid #d4dadd;
}
