/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-formula-insert .more-function-button {
  color: #009de3;
}
.bi-formula-insert .bi-formula-field-pane {
  border-top: 1px solid #d4dadd;
  border-left: 1px solid #d4dadd;
  border-bottom: 1px solid #d4dadd;
}
.bi-formula-insert .bi-formula-editor {
  border-left: 1px solid #d4dadd;
  border-top: 1px solid #d4dadd;
  border-right: 1px solid #d4dadd;
}
.bi-formula-insert .bi-water-mark {
  font-size: 14px;
}
.bi-formula-insert .proxy_div {
  font-size: 13px;
  background-color: #009de3;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}
