@import "../../bibase";

.bi-float-box {
  background-color: @color-bi-background-default;
  color: @color-bi-text-black;
}

.bi-theme-dark {
  .bi-float-box {
    background-color: @color-bi-background-default-theme-dark;
    color: @color-bi-text-theme-dark;
  }
}