@import "../../index";

/**********BI.BIListView*************/
.bi-popup-view {
  position: fixed !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
  overflow: visible !important;
  cursor: default;
  & .list-view-outer {
    .border-radius(2px);
  }
  & .padding-outer{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  & .list-view-shadow {
    .box-shadow(0 1px 5px 0, fade(@color-bi-background-black, 20));
  }
  & .list-view-toolbar {
    line-height: 24px;
    & > .center-element {
      border-left: 1px solid @color-bi-border-line;
    }
    & > .first-element {
      border-left: none;
    }
  }
}

.bi-theme-dark {
  .bi-popup-view {
    & .list-view-toolbar {
      & > .center-element {
        border-left: 1px solid @color-bi-border-line-theme-dark;
      }
      & > .first-element {
        border-left: none;
      }
    }
  }
  & .list-view-shadow {
    .box-shadow(0 1px 5px 0, fade(@background-color-normal-theme-dark, 80));
  }
}

.hack {
  .bi-popup-view {
    // -ms-device-fixed >= IE11
    // 与fixed表现形式一致，区别在于浏览器缩放的时候，-ms-device-fixed的元素不受其影响，而fixed的元素受其影响
    // 最重要的是-ms-device-fixed解决了IE11下的残影问题
    position: -ms-device-fixed !important;
  }
}