@import "../../bibase";

/**********BI.BIListView*************/
.bi-list-view {
  position: fixed !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
  overflow: visible !important;
  cursor: default;
  & .list-view-outer {
    .border-radius(2px);
  }
  & .list-view-toolbar {
    line-height: 30px;
    & > .center-element {
      border-left: 1px solid @color-bi-border-line;
    }
    & > .first-element {
      border-left: none;
    }
  }
}

.bi-theme-dark {
  .bi-list-view {
    & .list-view-toolbar {
      & > .center-element {
        border-left: 1px solid @color-bi-border-line-theme-dark;
      }
      & > .first-element {
        border-left: none;
      }
    }
  }
}
