/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-sortable-table .sortable_table_drag_clone {
  background: #d8f2fd;
  top: 0px;
  opacity: 0.5;
}
.bi-sortable-table .drag-header {
  cursor: move;
}
.bi-sortable-table .insert-help-line {
  border-right: 3px dashed #009de3;
}
