.bi-bubble-combo .button-combo-triangle-wrapper {
  position: fixed !important;
  z-index: 10000000;
}
.bi-bubble-combo .bubble-combo-triangle-left {
  z-index: 1;
  position: absolute;
  width: 6px;
  height: 16px;
}
.bi-bubble-combo .bubble-combo-triangle-left:before {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  margin-top: -3px;
  content: "";
  background-color: #ffffff;
  transform: rotate(-45deg);
  border-bottom: 1px solid #f2f4f7;
  border-right: 1px solid #f2f4f7;
}
.bi-bubble-combo .bubble-combo-triangle-right {
  z-index: 1;
  position: absolute;
  width: 6px;
  height: 16px;
}
.bi-bubble-combo .bubble-combo-triangle-right:before {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  margin-top: 3px;
  content: "";
  background-color: #ffffff;
  transform: rotate(135deg);
  border-bottom: 1px solid #f2f4f7;
  border-right: 1px solid #f2f4f7;
}
.bi-bubble-combo .bubble-combo-triangle-top {
  z-index: 1;
  position: absolute;
  width: 16px;
  height: 6px;
}
.bi-bubble-combo .bubble-combo-triangle-top:before {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  margin-top: -3px;
  content: "";
  background-color: #ffffff;
  transform: rotate(45deg);
  border-bottom: 1px solid #f2f4f7;
  border-right: 1px solid #f2f4f7;
}
.bi-bubble-combo .bubble-combo-triangle-bottom {
  z-index: 1;
  position: absolute;
  width: 16px;
  height: 6px;
}
.bi-bubble-combo .bubble-combo-triangle-bottom:before {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  margin-top: 3px;
  content: "";
  background-color: #ffffff;
  transform: rotate(-135deg);
  border-bottom: 1px solid #f2f4f7;
  border-right: 1px solid #f2f4f7;
}
.bi-theme-dark .bi-bubble-combo .bubble-combo-triangle-left:before,
.bi-theme-dark .bi-bubble-combo.bubble-combo-triangle-right:before,
.bi-theme-dark .bi-bubble-combo .bubble-combo-triangle-top:before,
.bi-theme-dark .bi-bubble-combo .bubble-combo-triangle-bottom:before {
  background-color: #242640;
}

.bi-combo.bi-combo-popup {
  display: block !important;
  visibility: visible !important;
}

.bi-search-text-value-combo .trigger-icon-button {
  font-size: 16px;
}
.bi-search-text-value-combo.combo-error .bi-search-text-value-trigger .bi-text-button {
  color: #ff4949;
}
.bi-search-text-value-combo .trigger-up {
  display: none;
}
.bi-search-text-value-combo .trigger-down {
  display: block;
}
.bi-search-text-value-combo.combo-show .trigger-up {
  display: block;
}
.bi-search-text-value-combo.combo-show .trigger-down {
  display: none;
}
.bi-search-text-value-combo .bi-combo-hover > .bi-border {
  border-color: #3685f2;
}
.bi-search-text-value-combo:focus .bi-combo.bi-combo-popup > .bi-border,
.bi-search-text-value-combo:focus-within .bi-combo.bi-combo-popup > .bi-border {
  border-color: #3685f2;
}

.bi-static-combo.bi-combo-popup > .bi-border,
.bi-static-combo:hover > .bi-border {
  border-color: #3685f2;
}

.bi-icon-text-value-combo.combo-error .bi-text-trigger .select-text-label {
  color: #ff4949;
}
.bi-icon-text-value-combo.bi-combo-popup > .bi-border,
.bi-icon-text-value-combo:hover > .bi-border {
  border-color: #3685f2;
}

.bi-text-value-combo.combo-error .bi-select-text-trigger .select-text-label {
  color: #ff4949;
}
.bi-text-value-combo.bi-combo-popup > .bi-border,
.bi-text-value-combo:hover > .bi-border {
  border-color: #3685f2;
}

.bi-text-value-check-combo.bi-combo-popup > .bi-border,
.bi-text-value-check-combo:hover > .bi-border {
  border-color: #3685f2;
}

.bi-text-value-down-list-combo.bi-combo-popup > .bi-border,
.bi-text-value-down-list-combo:hover > .bi-border {
  border-color: #3685f2;
}
