.bi-bubble-combo .button-combo-triangle-wrapper {
  position: fixed !important;
  z-index: 10000000;
}
.bi-bubble-combo .bubble-combo-triangle-left {
  z-index: 1;
  position: absolute;
  width: 16px;
  height: 10px;
  border-bottom: 1px solid #f5f5f5;
}
.bi-bubble-combo .bubble-combo-triangle-left:before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 10px solid #ccc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
}
.bi-bubble-combo .bubble-combo-triangle-left:after {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 0px;
  border-bottom: 9px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
}
.bi-bubble-combo .bubble-combo-triangle-right {
  z-index: 1;
  position: absolute;
  width: 16px;
  height: 6px;
  border-bottom: 1px solid #f5f5f5;
}
.bi-bubble-combo .bubble-combo-triangle-right:before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 10px solid #ccc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
}
.bi-bubble-combo .bubble-combo-triangle-right:after {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 0px;
  border-bottom: 9px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
}
.bi-bubble-combo .bubble-combo-triangle-top {
  z-index: 1;
  position: absolute;
  width: 16px;
  height: 10px;
  border-top: 1px solid #ffffff;
}
.bi-bubble-combo .bubble-combo-triangle-top:after {
  position: absolute;
  right: 1px;
  top: 0px;
  border-top: 6px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
}
.bi-bubble-combo .bubble-combo-triangle-top:before {
  position: absolute;
  border-top: 7px solid #cccccc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
}
.bi-bubble-combo .bubble-combo-triangle-bottom {
  z-index: 1;
  position: absolute;
  width: 16px;
  height: 5px;
  border-bottom: 1px solid #ffffff;
}
.bi-bubble-combo .bubble-combo-triangle-bottom:before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 7px solid #ccc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
}
.bi-bubble-combo .bubble-combo-triangle-bottom:after {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 0px;
  border-bottom: 6px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
}

.bi-combo.bi-combo-popup {
  display: block !important;
  visibility: visible !important;
}

.bi-search-text-value-combo .trigger-icon-button {
  font-size: 16px;
}
