.bi-bubble-combo .button-combo-triangle-wrapper {
  position: fixed !important;
  z-index: 10000000;
}
.bi-bubble-combo .bubble-combo-triangle-left {
  z-index: 1;
  position: absolute;
  width: 6px;
  height: 16px;
}
.bi-bubble-combo .bubble-combo-triangle-left:before {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  margin-top: -3px;
  content: "";
  background-color: #ffffff;
  transform: rotate(-45deg);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
  -moz-box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
}
.bi-bubble-combo .bubble-combo-triangle-right {
  z-index: 1;
  position: absolute;
  width: 6px;
  height: 16px;
}
.bi-bubble-combo .bubble-combo-triangle-right:before {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  margin-top: 3px;
  content: "";
  background-color: #ffffff;
  transform: rotate(135deg);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
  -moz-box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
}
.bi-bubble-combo .bubble-combo-triangle-top {
  z-index: 1;
  position: absolute;
  width: 16px;
  height: 6px;
}
.bi-bubble-combo .bubble-combo-triangle-top:before {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  margin-top: -3px;
  content: "";
  background-color: #ffffff;
  transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
  -moz-box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
}
.bi-bubble-combo .bubble-combo-triangle-bottom {
  z-index: 1;
  position: absolute;
  width: 16px;
  height: 6px;
}
.bi-bubble-combo .bubble-combo-triangle-bottom:before {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  margin-top: 3px;
  content: "";
  background-color: #ffffff;
  transform: rotate(-135deg);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
  -moz-box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(35, 46, 64, 0.2);
}
.bi-theme-dark .bi-bubble-combo .bubble-combo-triangle-left:before,
.bi-theme-dark .bi-bubble-combo.bubble-combo-triangle-right:before,
.bi-theme-dark .bi-bubble-combo .bubble-combo-triangle-top:before,
.bi-theme-dark .bi-bubble-combo .bubble-combo-triangle-bottom:before {
  background-color: #242640;
}

.bi-combo.bi-combo-popup {
  display: block !important;
  visibility: visible !important;
}

.bi-search-text-value-combo .trigger-icon-button {
  font-size: 16px;
}
.bi-search-text-value-combo.combo-error .bi-search-text-value-trigger .bi-text-button {
  color: #ff4949;
}
.bi-search-text-value-combo .trigger-up {
  display: none;
}
.bi-search-text-value-combo .trigger-down {
  display: block;
}
.bi-search-text-value-combo.combo-show .trigger-up {
  display: block;
}
.bi-search-text-value-combo.combo-show .trigger-down {
  display: none;
}

.bi-icon-text-value-combo.combo-error .bi-text-trigger .select-text-label {
  color: #ff4949;
}

.bi-text-value-combo.combo-error .bi-select-text-trigger .select-text-label {
  color: #ff4949;
}
