/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-bubble-combo .bubble-combo-triangle-left {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 6px solid #009de3;
  border-bottom: 6px solid transparent;
}
.bi-bubble-combo .bubble-combo-triangle-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid #009de3;
  border-bottom: 6px solid transparent;
}
.bi-bubble-combo .bubble-combo-triangle-top {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #009de3;
}
.bi-bubble-combo .bubble-combo-triangle-bottom {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #009de3;
}
