{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "window": true,
    "$": true,
    "WebUI": true,
    "BI": true,
    "Data": true,
    "Fix": true,
    "module": true,
    "Demo": true,
    "_global": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "overrides": [{
    "files": ["src/*.js","src/**/*.js", "demo/*.js", "demo/**/*.js", "i18n/**/*.js", "i18n/*.js", "test/**/*.js", "test/*.js"],
    "extends": "plugin:@fui/es5",
    "rules": {
      "no-param-reassign": "off",
      "quotes": [2, "double"],
      "comma-dangle": ["error", "never"] // 多行对象字面量中要求拖尾逗号
    }
  }, {
    "files": ["webpack/*.js", "types/*.ts", "typescript/*.ts","typescript/**/*.ts", "./*.js", "lib/**/*.js", "lib/*.js"],
    "extends": "plugin:@fui/typescript"
  }]
}
