*
!public/less/*.less
!src/less/**/*
!dist/lib/*.d.ts
!dist/lib/**/*.d.ts
!dist/font.css
!dist/fineui.css
!dist/fineui.js
!dist/fineui.js.map
!dist/fineui.min.css
!dist/fineui_without_normalize.min.css
!dist/fineui.min.js
!dist/fineui.min.js.map
!dist/core.css
!dist/core.js
!dist/resource.css
!dist/resource.js
!dist/utils.js
!dist/utils.js.map
!dist/utils.min.js
!dist/utils.min.js.map
!dist/fineui_without_jquery_polyfill.js
!dist/2.0/fineui.css
!dist/2.0/fineui.js
!dist/2.0/fineui.js.map
!dist/2.0/fineui.min.css
!dist/2.0/fineui.min.js
!dist/2.0/fineui.min.js.map
!dist/2.0/fineui_without_normalize.css
!dist/2.0/fineui_without_normalize.min.css
!dist/font/*
!dist/font/**/*
!dist/images/*
!dist/images/**/*
!dist/router.js
!babel.config.js
!babel.config.ie8.js
!.eslintrc
!dist/2.0/jsy.min.css
!dist/2.0/bi.min.css
