*
!src/less/*.less
!src/less/lib/*.less
!src/less/resource/*.less
!dist/font.css
!dist/lib/*.d.ts
!dist/lib/**/*.d.ts
!dist/fineui.css
!dist/fineui.min.js
!dist/fineui.min.js.map
!dist/fineui.ie.min.js
!dist/fineui.ie.min.js.map
!dist/utils.js
!dist/utils.min.js
!dist/utils.min.js.map
!dist/bundle.min.js
!dist/bundle.min.css
!dist/fineui_without_jquery_polyfill.js
!babel.config.js
!babel.config.ie8.js
!dist/fineui.min.css
!dist/fineui.js
!dist/fineui.js.map
!dist/2.0/fineui.css
!dist/2.0/fineui.ie.js
!dist/2.0/fineui.ie.js.map
!dist/2.0/fineui.ie.min.js
!dist/2.0/fineui.ie.min.js.map
!dist/2.0/fineui.js
!dist/2.0/fineui.js.map
!dist/2.0/fineui.min.css
!dist/2.0/fineui.min.js
!dist/2.0/fineui.min.js.map
!dist/2.0/fineui_without_normalize.css
!dist/2.0/fineui_without_normalize.min.css
!dist/font/*
!dist/font/**/*
!dist/images/*
!dist/images/**/*
!.eslintrc