*
!src/less/*.less
!src/less/lib/*.less
!src/less/resource/*.less
!dist/lib/*.d.ts
!dist/lib/**/*.d.ts
!dist/fineui.css
!dist/fineui.min.js
!dist/fineui.min.js.map
!dist/fineui.ie.min.js
!dist/fineui.ie.min.js.map
!babel.config.js
!babel.config.ie8.js
!dist/fineui.min.css
!dist/fineui.js
!dist/fineui.css
!dist/font
!dist/images
!.eslintrc