.bi-time-interval .bi-date-time-trigger {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-time-interval.time-error .bi-date-time-trigger .bi-input {
  color: #e65251;
}
.bi-time-interval.time-error .bi-date-time-trigger .sign-editor-text {
  color: #e65251;
}
