@import "../../../index.less";

.bi-textarea-editor {
  .overflow-hidden();
  & .textarea-editor-content {
    white-space: pre-wrap;
    word-break: break-all;
    font-size: @font-size-12;
    line-height: 21px;
    & {
      border: none;
    }
  }
  & .textarea-watermark{
    max-height: 100%;
  }
}

.bi-theme-dark{
  .bi-textarea-editor {
    & .textarea-editor-content {
      &.textarea-editor-focus{

      }
    }
  }
}
