@import "../../../bibase";

.bi-code-editor{
  & .param {
    color: @color-bi-text;
    padding: 0 5px;
    margin: 1px 1px;
    .border-radius(2px);
    background: @color-bi-background-highlight;
    display: inline-block;
  }
  & .error-param {
    color: @color-bi-text-warning;
    padding: 0 5px;
    margin: 1px 1px;
    display: inline-block;
  }
}