@import "../index";
@import "../image";
@import "../lib/icon";
.bi-pane {
    min-height: 25px;
    &.loading-status{
        min-height: 55px;
    }
    & .loading-container {
        .background-color(@color-bi-background-pane-loading, 0);
    }
}

.bi-loading-widget {
    font-size: 0;
    // 直接控制div标签将会导致使用div的table布局样式问题
    & .animate-rect {
        .background-color(@color-bi-background-pane-animate-rect, 90%);
        .border-radius(1.5px);
        .animation(loading-widget 0.8s infinite linear);
    }
    .rect2 {
        .animation-delay(-0.2s);
    }
    .rect3 {
        .animation-delay(-0.4s);
    }
    .keyframes (loading-widget, {
        0%, 100% {
            .transform (scaleY(0.3));
        }
        50% {
            .transform (scaleY(1));
        }
    });
}