@import "../../index";

.bi-trigger{
  & .bi-trigger-icon-button{
    font-size: @font-size-16;
  }
  & .trigger-up {
    display: none;
  }
  & .trigger-down {
    display: block;
  }
}

.bi-combo-popup {
  & > .bi-trigger {
    .trigger-up {
      display: block;
    }
    .trigger-down {
      display: none;
    }
  }
}