/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-direction-pager .direction-pager-prev {
  font-size: 16px;
  background: #f4f4f4;
}
.bi-direction-pager .direction-pager-next {
  font-size: 16px;
  background: #f4f4f4;
}
