@import "../../bibase";

.bi-color-chooser-popup{
  & .color-chooser-popup-title{
    background: @color-bi-background-gray;
    border-bottom: 1px solid @color-bi-split-dark;
  }
  & .color-chooser-popup-more{
    background: @color-bi-background-gray;
    &:hover{
      background: @color-bi-background-dark;
    }
  }
}