@import "../../index";

.bi-collection-table-cell {
  .box-sizing(border-box);
  &.first-row {
    border-top: 1px solid @border-color-line;
  }
  &.first-col {
    border-left: 1px solid @border-color-line;
  }
}

//特殊样式
.bi-theme-dark {
  .bi-collection-table-cell {
    &.first-row {
      border-top: 1px solid @border-color-line-theme-dark;
    }
    &.first-col {
      border-left: 1px solid @border-color-line-theme-dark;
    }
  }
}