@import "../../bibase";

.bi-collection-table-cell {
  .box-sizing(border-box);
  border-right: 1px solid @border-color-line;
  border-bottom: 1px solid @border-color-line;
  &.first-row {
    border-top: 1px solid @border-color-line;
  }
  &.first-col {
    border-left: 1px solid @border-color-line;
  }
}
.bi-theme-dark{
  .bi-collection-table-cell{
    border-right: 1px solid @border-color-line-theme-dark;
    border-bottom: 1px solid @border-color-line-theme-dark;
    &.first-row {
      border-top: 1px solid @border-color-line-theme-dark;
    }
    &.first-col {
      border-left: 1px solid @border-color-line-theme-dark;
    }
  }
}