@import "../../index";

.bi-grid-table-cell {
  .box-sizing(border-box);
  &.first-row {
    border-top: 1px solid @border-color-line;
  }
  &.first-col {
    border-left: 1px solid @border-color-line;
  }
}
.bi-theme-dark{
  .bi-grid-table-cell{
    &.first-row {
      border-top: 1px solid @border-color-line-theme-dark;
    }
    &.first-col {
      border-left: 1px solid @border-color-line-theme-dark;
    }
  }
}