.bi-color-picker-editor .color-picker-editor-display {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 1px #232e40 inset;
  -webkit-box-shadow: 0px 0px 2px 1px #232e40 inset;
  -moz-box-shadow: 0px 0px 2px 1px #232e40 inset;
}
