html,
body,
div,
ul,
ol,
li,
img,
a,
span,
p,
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-repeat: repeat;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #3d4d66;
  font: normal 12px "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Heiti, "黑体", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  -kthml-user-focus: normal;
  -moz-user-focus: normal;
  -moz-outline: 0 none;
  outline: 0 none;
}
div::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
div::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(35, 46, 64, 0.05);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d232e40,endColorstr=#0d232e40);
}
div::-webkit-scrollbar-track:hover,
textarea::-webkit-scrollbar-track:hover {
  background-color: rgba(35, 46, 64, 0.05);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d232e40,endColorstr=#0d232e40);
}
div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(35, 46, 64, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a232e40,endColorstr=#1a232e40);
}
div::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(35, 46, 64, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d232e40,endColorstr=#4d232e40);
}
div::-webkit-scrollbar-corner,
textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}
a {
  outline: none;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
div:focus {
  outline: none;
}
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
input::-ms-clear {
  display: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
}
ul {
  list-style: disc;
}
li {
  list-style-type: none;
}
i {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
