@import "../../../index";

.bi-bubble{
  font-size: @font-size-14;
  & .bubble-text{
    .border-radius(2px);
    background: @color-bi-background-light-failure;
    color: @color-bi-text-failure;
  }
}