@import "../../../index";

.bi-toast{
  font-size: @font-size-14;
  .border-radius(2px);
  &.toast-success{
    background: @color-bi-background-light-success;
    color: @color-bi-text-success;
  }
  &.toast-warning{
    background: @color-bi-background-light-failure;
    color: @color-bi-text-failure;
  }
}