/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/**********BI.BIListView*************/
.bi-popup-view {
  position: fixed !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
  overflow: visible !important;
  cursor: default;
}
.bi-popup-view .list-view-outer {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-popup-view .list-view-toolbar {
  line-height: 30px;
}
.bi-popup-view .list-view-toolbar > .center-element {
  border-left: 1px solid #d4dadd;
}
.bi-popup-view .list-view-toolbar > .first-element {
  border-left: none;
}
.bi-theme-dark .bi-popup-view .list-view-toolbar > .center-element {
  border-left: 1px solid #525466;
}
.bi-theme-dark .bi-popup-view .list-view-toolbar > .first-element {
  border-left: none;
}
