/**********BI.BIListView*************/
.bi-popup-view {
  position: fixed !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
  overflow: visible !important;
  cursor: default;
}
.bi-popup-view .list-view-outer {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-popup-view .padding-outer {
  padding-top: 5px;
  padding-bottom: 5px;
}
.bi-popup-view .list-view-shadow {
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 46, 64, 0.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(35, 46, 64, 0.2);
  box-shadow: 0 1px 5px 0 rgba(35, 46, 64, 0.2);
}
.bi-popup-view .list-view-toolbar {
  line-height: 24px;
}
.bi-popup-view .list-view-toolbar > .center-element {
  border-left: 1px solid #e8eaed;
}
.bi-popup-view .list-view-toolbar > .first-element {
  border-left: none;
}
.bi-theme-dark .bi-popup-view .list-view-toolbar > .center-element {
  border-left: 1px solid #525466;
}
.bi-theme-dark .bi-popup-view .list-view-toolbar > .first-element {
  border-left: none;
}
