/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
/**********FR.BIListView*************/
.bi-list-view {
  position: fixed !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
  overflow: visible !important;
  cursor: default;
}
.bi-list-view .list-view-outer {
  border: 1px solid #d4dadd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
}
.bi-list-view .list-view-toolbar {
  border-top: 1px solid #eaeaea;
  line-height: 30px;
  color: #009de3;
}
.bi-list-view .list-view-toolbar > .center-element {
  border-left: 1px solid #eaeaea;
}
.bi-list-view .list-view-toolbar > .first-element {
  border-left: none;
}
