@import "../../../index";

.bi-half-button {
  .border-radius(2px);
  box-sizing: border-box;

  &:after {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 8px;
    height: 8px;
    background-color: @color-bi-background-half-button-content;
    content: '';
  }

  &.disabled {
    &:after {
      background-color: @color-bi-background-disabled-half-button-content;
    }
  }
}
