@import "../../../index";

.bi-switch {
  font-size: @font-size-12;
  .border-radius(40px 40px 40px 40px);
  background-color: @color-bi-background-switch;
  .transition(all .2s);
  &.active {
    background-color: @color-bi-background-active-switch;
  }
  & .circle-button{
    .border-radius(6px 6px 6px 6px);
    .transition(all .2s ease-in-out);
    background-color: @color-bi-background-active-switch-content;
  }
  &.disabled {
    opacity: 0.5;
  }
  & .content-tip {
    color: @color-bi-font-switch-tip;
  }
}

.bi-theme-dark {
  .bi-switch {
    background-color: @color-bi-background-switch-theme-dark;
    &.active {
      background-color: @color-bi-background-active-switch;
    }
  }
}
