/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-text-toolbar {
  background: #eaeaea;
}
.bi-text-toolbar .text-toolbar-button {
  font-size: 16px;
}
.bi-text-toolbar .text-toolbar-size-chooser-trigger {
  background: #ffffff;
  font-size: 12px;
}
.bi-text-toolbar .text-toolbar-size-chooser-trigger a {
  font-size: 12px;
}
