.bi-html article,
.bi-html aside,
.bi-html details,
.bi-html figcaption,
.bi-html figure,
.bi-html footer,
.bi-html header,
.bi-html hgroup,
.bi-html nav,
.bi-html section,
.bi-html summary {
  display: block;
}
.bi-html audio,
.bi-html canvas,
.bi-html video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.bi-html audio:not([controls]) {
  display: none;
  height: 0;
}
.bi-html [hidden] {
  display: none;
}
.bi-html html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.bi-html html,
.bi-html button,
.bi-html input,
.bi-html select,
.bi-html textarea {
  font-family: sans-serif;
}
.bi-html body {
  margin: 0;
}
.bi-html a:focus {
  outline: thin dotted;
}
.bi-html a:active,
.bi-html a:hover {
  outline: 0;
}
.bi-html h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.bi-html h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.bi-html h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.bi-html h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
.bi-html h5 {
  font-size: .83em;
  margin: 1.67em 0;
}
.bi-html h6 {
  font-size: .75em;
  margin: 2.33em 0;
}
.bi-html abbr[title] {
  border-bottom: 1px dotted;
}
.bi-html b,
.bi-html strong {
  font-weight: bold;
}
.bi-html blockquote {
  margin: 1em 40px;
}
.bi-html dfn {
  font-style: italic;
}
.bi-html mark {
  background: #ff0;
  color: #000;
}
.bi-html p,
.bi-html pre {
  margin: 1em 0;
}
.bi-html code,
.bi-html kbd,
.bi-html pre,
.bi-html samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
.bi-html pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.bi-html q {
  quotes: none;
}
.bi-html q:before,
.bi-html q:after {
  content: '';
  content: none;
}
.bi-html small {
  font-size: 75%;
}
.bi-html sub,
.bi-html sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.bi-html sup {
  top: -0.5em;
}
.bi-html sub {
  bottom: -0.25em;
}
.bi-html dl,
.bi-html menu,
.bi-html ol,
.bi-html ul {
  margin: 1em 0;
}
.bi-html dd {
  margin: 0 0 0 40px;
}
.bi-html menu,
.bi-html ol,
.bi-html ul {
  padding: 0 0 0 40px;
}
.bi-html nav ul,
.bi-html nav ol {
  list-style: none;
  list-style-image: none;
}
.bi-html ul {
  list-style: disc;
}
.bi-html li {
  list-style-type: disc;
}
.bi-html img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.bi-html svg:not(:root) {
  overflow: hidden;
}
.bi-html figure {
  margin: 0;
}
.bi-html form {
  margin: 0;
}
.bi-html fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.bi-html legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
.bi-html button,
.bi-html input,
.bi-html select,
.bi-html textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
.bi-html button,
.bi-html input {
  line-height: normal;
}
.bi-html button,
.bi-html html input[type="button"],
.bi-html input[type="reset"],
.bi-html input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
.bi-html button[disabled],
.bi-html input[disabled] {
  cursor: default;
}
.bi-html input[type="checkbox"],
.bi-html input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
.bi-html input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.bi-html input[type="search"]::-webkit-search-cancel-button,
.bi-html input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.bi-html button::-moz-focus-inner,
.bi-html input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.bi-html textarea {
  overflow: auto;
  vertical-align: top;
}
.bi-html table {
  border-collapse: collapse;
  border-spacing: 0;
}
