/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-text {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  word-break: break-all;
}
