/** 循环旋转动画 **/
.anim-rotate {
  -webkit-animation: rotate 1s infinite linear both;
  -moz-animation: rotate 1s infinite linear both;
  -ms-animation: rotate 1s infinite linear both;
  -o-animation: rotate 1s infinite linear both;
  animation: rotate 1s infinite linear both;
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
