/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.base-disabled {
  cursor: default !important;
  color: #cccccc !important;
}
.base-disabled .b-font:before {
  color: #cccccc !important;
}
.bi-theme-dark .base-disabled {
  color: #666666 !important;
}
.bi-theme-dark .base-disabled .b-font:before {
  color: #666666 !important;
}
.base-invalid {
  cursor: default !important;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.bi-background {
  background-color: #eff1f4;
  color: #666666;
}
.bi-theme-dark .bi-background {
  background-color: #191b2b;
  color: #cccccc;
}
.bi-card {
  background-color: #ffffff;
  color: #666666;
}
.bi-theme-dark .bi-card {
  background-color: #242640;
  color: #cccccc;
}
.bi-disabled {
  color: #cccccc;
}
.bi-theme-dark .bi-disabled {
  color: #666666;
}
.bi-tips {
  color: #999999;
}
.bi-border {
  border: 1px solid #d4dadd;
}
.bi-theme-dark .bi-border {
  border: 1px solid #525466;
}
.bi-border-left {
  border-left: 1px solid #d4dadd;
}
.bi-theme-dark .bi-border-left {
  border-left: 1px solid #525466;
}
.bi-border-right {
  border-right: 1px solid #d4dadd;
}
.bi-theme-dark .bi-border-right {
  border-right: 1px solid #525466;
}
.bi-border-top {
  border-top: 1px solid #d4dadd;
}
.bi-theme-dark .bi-border-top {
  border-top: 1px solid #525466;
}
.bi-border-bottom {
  border-bottom: 1px solid #d4dadd;
}
.bi-theme-dark .bi-border-bottom {
  border-bottom: 1px solid #525466;
}
.bi-keyword-red-mark {
  color: #f07d0a;
}
.bi-high-light {
  color: #3f8ce8;
}
.bi-water-mark {
  color: #cccccc;
  cursor: text;
}
.bi-theme-dark .bi-water-mark {
  color: #666666;
}
.bi-resizer {
  background: #1a1a1a;
  opacity: 0.2;
  filter: alpha(opacity=20);
  z-index: 1000000000;
}
.bi-theme-dark .bi-resizer {
  background: #ffffff;
}
.bi-z-index-mask {
  background-color: #1a1a1a;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.bi-theme-dark .bi-z-index-mask {
  background-color: #ffffff;
}
.bi-list-item:hover,
.bi-list-item.hover {
  background-color: #eff1f4;
  color: #1a1a1a;
}
.bi-list-item.disabled,
.bi-list-item.disabled:hover,
.bi-list-item.disabled:active {
  background-color: transparent !important;
  color: #cccccc !important;
}
.bi-list-item.disabled .bi-high-light,
.bi-list-item.disabled:hover .bi-high-light,
.bi-list-item.disabled:active .bi-high-light {
  color: #cccccc !important;
}
.bi-theme-dark .bi-list-item:hover,
.bi-theme-dark .bi-list-item.hover {
  background-color: #191b2b;
  color: #ffffff;
}
.bi-theme-dark .bi-list-item.disabled,
.bi-theme-dark .bi-list-item.disabled:hover,
.bi-theme-dark .bi-list-item.disabled:active {
  background-color: transparent !important;
  color: #666666 !important;
}
.bi-theme-dark .bi-list-item.disabled .bi-high-light,
.bi-theme-dark .bi-list-item.disabled:hover .bi-high-light,
.bi-theme-dark .bi-list-item.disabled:active .bi-high-light {
  color: #666666 !important;
}
.bi-list-item-simple:hover,
.bi-list-item-simple.hover {
  color: #1a1a1a;
}
.bi-list-item-simple.disabled,
.bi-list-item-simple.disabled:hover,
.bi-list-item-simple.disabled:active {
  color: #cccccc !important;
}
.bi-list-item-simple.disabled .bi-high-light,
.bi-list-item-simple.disabled:hover .bi-high-light,
.bi-list-item-simple.disabled:active .bi-high-light {
  color: #cccccc !important;
}
.bi-theme-dark .bi-list-item-simple:hover,
.bi-theme-dark .bi-list-item-simple.hover {
  color: #ffffff;
}
.bi-theme-dark .bi-list-item-simple.disabled,
.bi-theme-dark .bi-list-item-simple.disabled:hover,
.bi-theme-dark .bi-list-item-simple.disabled:active {
  color: #666666 !important;
}
.bi-theme-dark .bi-list-item-simple.disabled .bi-high-light,
.bi-theme-dark .bi-list-item-simple.disabled:hover .bi-high-light,
.bi-theme-dark .bi-list-item-simple.disabled:active .bi-high-light {
  color: #666666 !important;
}
.bi-list-item-effect:hover {
  color: #1a1a1a;
}
.bi-list-item-effect.active,
.bi-list-item-effect:active {
  color: #3f8ce8;
}
.bi-list-item-effect.disabled,
.bi-list-item-effect.disabled:hover,
.bi-list-item-effect.disabled:active {
  color: #cccccc !important;
}
.bi-list-item-effect.disabled .bi-high-light,
.bi-list-item-effect.disabled:hover .bi-high-light,
.bi-list-item-effect.disabled:active .bi-high-light {
  color: #cccccc !important;
}
.bi-theme-dark .bi-list-item-effect:hover {
  color: #ffffff;
}
.bi-theme-dark .bi-list-item-effect.active,
.bi-theme-dark .bi-list-item-effect:active {
  color: #3f8ce8;
}
.bi-theme-dark .bi-list-item-effect.disabled,
.bi-theme-dark .bi-list-item-effect.disabled:hover,
.bi-theme-dark .bi-list-item-effect.disabled:active {
  background-color: transparent !important;
  color: #666666 !important;
}
.bi-theme-dark .bi-list-item-effect.disabled .bi-high-light,
.bi-theme-dark .bi-list-item-effect.disabled:hover .bi-high-light,
.bi-theme-dark .bi-list-item-effect.disabled:active .bi-high-light {
  color: #666666 !important;
}
.bi-list-item-active:hover,
.bi-list-item-active.hover {
  color: #1a1a1a;
  background-color: #eff1f4;
}
.bi-list-item-active.active,
.bi-list-item-active:active {
  color: #3f8ce8;
  background-color: #eff1f4;
}
.bi-list-item-active.disabled,
.bi-list-item-active.disabled:hover,
.bi-list-item-active.disabled:active {
  background-color: transparent !important;
  color: #cccccc !important;
}
.bi-list-item-active.disabled .bi-high-light,
.bi-list-item-active.disabled:hover .bi-high-light,
.bi-list-item-active.disabled:active .bi-high-light {
  color: #cccccc !important;
}
.bi-theme-dark .bi-list-item-active:hover,
.bi-theme-dark .bi-list-item-active.hover {
  background-color: #191b2b;
  color: #ffffff;
}
.bi-theme-dark .bi-list-item-active.active,
.bi-theme-dark .bi-list-item-active:active {
  color: #3f8ce8;
  background-color: #191b2b;
}
.bi-theme-dark .bi-list-item-active.disabled,
.bi-theme-dark .bi-list-item-active.disabled:hover,
.bi-theme-dark .bi-list-item-active.disabled:active {
  background-color: transparent !important;
  color: #666666 !important;
}
.bi-theme-dark .bi-list-item-active.disabled .bi-high-light,
.bi-theme-dark .bi-list-item-active.disabled:hover .bi-high-light,
.bi-theme-dark .bi-list-item-active.disabled:active .bi-high-light {
  color: #666666 !important;
}
.bi-list-item-select:hover,
.bi-list-item-select.hover {
  color: #3f8ce8;
  background-color: #eff1f4;
}
.bi-list-item-select:active,
.bi-list-item-select.active {
  color: #ffffff;
  background-color: #3f8ce8;
}
.bi-list-item-select:active .bi-high-light,
.bi-list-item-select.active .bi-high-light {
  color: #ffffff;
}
.bi-list-item-select.disabled,
.bi-list-item-select.disabled:hover,
.bi-list-item-select.disabled:active {
  color: #cccccc !important;
  background-color: transparent !important;
}
.bi-list-item-select.disabled .bi-high-light,
.bi-list-item-select.disabled:hover .bi-high-light,
.bi-list-item-select.disabled:active .bi-high-light {
  color: #cccccc !important;
}
.bi-theme-dark .bi-list-item-select:hover,
.bi-theme-dark .bi-list-item-select.hover {
  color: #3f8ce8;
  background-color: #191b2b;
}
.bi-theme-dark .bi-list-item-select:active,
.bi-theme-dark .bi-list-item-select.active {
  color: #ffffff;
  background-color: #3f8ce8;
}
.bi-theme-dark .bi-list-item-select:active .bi-high-light,
.bi-theme-dark .bi-list-item-select.active .bi-high-light {
  color: #ffffff;
}
.bi-theme-dark .bi-list-item-select.disabled,
.bi-theme-dark .bi-list-item-select.disabled:hover,
.bi-theme-dark .bi-list-item-select.disabled:active {
  background-color: transparent !important;
  color: #666666 !important;
}
.bi-theme-dark .bi-list-item-select.disabled .bi-high-light,
.bi-theme-dark .bi-list-item-select.disabled:hover .bi-high-light,
.bi-theme-dark .bi-list-item-select.disabled:active .bi-high-light {
  color: #666666 !important;
}
.bi-list-item-choose:hover {
  color: #1a1a1a;
}
.bi-list-item-choose:active,
.bi-list-item-choose.active {
  color: #ffffff;
  background-color: #3f8ce8;
}
.bi-list-item-choose:active .bi-high-light,
.bi-list-item-choose.active .bi-high-light {
  color: #ffffff;
}
.bi-list-item-choose.disabled,
.bi-list-item-choose.disabled:hover,
.bi-list-item-choose.disabled:active {
  color: #cccccc !important;
  background-color: transparent !important;
}
.bi-list-item-choose.disabled .bi-high-light,
.bi-list-item-choose.disabled:hover .bi-high-light,
.bi-list-item-choose.disabled:active .bi-high-light {
  color: #cccccc !important;
}
.bi-theme-dark .bi-list-item-choose:hover {
  color: #ffffff;
}
.bi-theme-dark .bi-list-item-choose.disabled,
.bi-theme-dark .bi-list-item-choose.disabled:hover,
.bi-theme-dark .bi-list-item-choose.disabled:active {
  color: #666666 !important;
  background-color: transparent !important;
}
.bi-theme-dark .bi-list-item-choose.disabled .bi-high-light,
.bi-theme-dark .bi-list-item-choose.disabled:hover .bi-high-light,
.bi-theme-dark .bi-list-item-choose.disabled:active .bi-high-light {
  color: #666666 !important;
}
