.bi-file-manager-nav-button .file-manager-nav-button-text {
  max-width: 200px;
}
.bi-file-manager-nav-button .file-manager-nav-button-text.active {
  background-color: #f7f8fa;
  color: #999999;
}
.bi-file-manager-nav-button .file-manager-nav-button-triangle {
  z-index: 1;
}
.bi-theme-dark .bi-file-manager-nav-button .file-manager-nav-button-text.active {
  background-color: #191B2B;
  color: #999999;
}
