
.bi-excel-table-header-cell {
  font-weight: bold;
}

.bi-excel-table > div.bottom-right > div > div > table {
  border-right: 1px solid #e8eaed;
}
.bi-theme-dark .bi-excel-table > div.bottom-right > div > div > table {
  border-right: 1px solid #3a3c53;
}
