@import "../../index";

.bi-number-editor {
  .border-radius(2px);
  & .pull-down-font {
    font-size: 12px;
  }
  & .pull-up-font {
    font-size: 12px;
  }
  &.disabled {
    background-color: @color-bi-background-disabled;
  }
}

.bi-theme-dark {
  .bi-number-editor {
    &.disabled {
      background-color: @color-bi-background-disabled-theme-dark;
    }
  }
}