@maxHeight: 500px;

.bi-popover {

    .dynamic-height-limit-layout-small {
        min-height: 200px;
        max-height: @maxHeight;
    }

    .dynamic-height-limit-layout-big, .dynamic-height-limit-layout-default {
        min-height: 400px;
        max-height: @maxHeight;
    }
}
