@import "../../index";

.bi-panel{
  .border-radius(2px);
  .panel-title{
    background-color: @color-bi-background-light-gray;
    & .panel-title-text{
      cursor: text;
      font-size: @font-size-14;
    }
  }
}