* {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.layout-bg-white {
  background-color: #ffffff;
}
.layout-bg-gray {
  background-color: #eeeeee;
}
.layout-bg1 {
  color: #ffffff;
  background-color: #0088cc;
}
.layout-bg2 {
  color: #ffffff;
  background-color: #008B8B;
}
.layout-bg3 {
  color: #ffffff;
  background-color: #6495ED;
}
.layout-bg4 {
  color: #ffffff;
  background-color: #ff69b4;
}
.layout-bg5 {
  color: #ffffff;
  background-color: #B8860B;
}
.layout-bg6 {
  color: #ffffff;
  background-color: #d9534f;
}
.layout-bg7 {
  color: #ffffff;
  background-color: #ea4738;
}
.layout-bg8 {
  color: #ffffff;
  background-color: #6495ed;
}
.demo-main .bg1 {
  background-color: #178cdf;
}
