.layout-bg-white {
  background-color: #ffffff;
}
.layout-bg-gray {
  background-color: #eeeeee;
}
.layout-bg1 {
  color: #ffffff;
  background-color: #0088cc;
}
.layout-bg2 {
  color: #ffffff;
  background-color: #008B8B;
}
.layout-bg3 {
  color: #ffffff;
  background-color: #6495ED;
}
.layout-bg4 {
  color: #ffffff;
  background-color: #ff69b4;
}
.layout-bg5 {
  color: #ffffff;
  background-color: #B8860B;
}
.layout-bg6 {
  color: #ffffff;
  background-color: #d9534f;
}
.layout-bg7 {
  color: #ffffff;
  background-color: #ea4738;
}
.layout-bg8 {
  color: #ffffff;
  background-color: #6495ed;
}
.demo-main .bg1 {
  background-color: #178cdf;
}
body {
  background-color: #eff1f4;
}
.bi-theme-dark body {
  background-color: #191B2B;
}
.demo-editor {
  border: 1px solid #cccccc;
}
.bi-slider-track .background-track {
  background-color: rgba(153, 153, 153, 0);
  _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33999999, 99, endColorstr=#33999999, 99);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.bi-slider-track .gray-track {
  background: #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bi-slider-track .blue-track {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.widget-slider-icon .x-icon {
  display: block;
  background: url('icon/slider.png') no-repeat;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${remoteServletURL}?op=resource&resource=/com/fr/bi/web/images/icon/slider-normal.png');
  _background: none;
  background-size: 100% 100%;
}
.widget-slider-icon:hover .x-icon {
  display: block;
  background: url('icon/双向箭头.png') no-repeat;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${remoteServletURL}?op=resource&resource=/com/fr/bi/web/images/icon/slider-active.png');
  _background: none;
  background-size: 100% 100%;
}
.widget-slider-icon::focus .x-icon {
  display: block;
  background: url('icon/双向箭头.png') no-repeat;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${remoteServletURL}?op=resource&resource=/com/fr/bi/web/images/icon/slider-active.png');
  _background: none;
  background-size: 100% 100%;
}
.widget-slider-icon.native .x-icon,
.widget-slider-icon.disabled .x-icon {
  display: block;
}
