.mvc-button:hover,
.mvc-button.hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.mvc-button.active,
.mvc-button:active {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.bi-set-get .left-title,
.bi-set-get .right-title {
  background: #0088cc;
  color: #ffffff;
}
.bi-set-get .left-nav {
  border-bottom: 1px solid #cccccc;
}
.bi-set-get .left-nav.active,
.bi-set-get .left-nav:active {
  color: #ffffff;
  background-color: #d9534f;
}
.bi-local .top-button {
  background-color: #448eea;
  color: #ffffff;
}
.bi-local .bottom-label {
  background-color: #EA4738;
  color: #ffffff;
}
.bi-local .delete-button {
  background-color: #008B8B;
  color: #ffffff;
}
.bi-local .vessel-border {
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.bi-event .title {
  background: #0088cc;
  color: #ffffff;
}
.bi-event .front {
  background: #ADD8E6;
}
.bi-event .nav {
  border: 1px solid #cccccc;
}
.bi-skip-to {
  color: #ffffff;
}
.bi-skip-to .red-pane {
  background-color: #0088cc;
}
.bi-skip-to .blue-pane {
  background-color: #6495ED;
}
.bi-skip-to .green-pane {
  background-color: #008B8B;
}
.bi-skip-to .yellow-pane {
  background-color: #B8860B;
}
.bi-change .outer-text {
  background-color: #0088cc;
  color: #ffffff;
}
.bi-change .inner {
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.bi-change .type-first {
  background-color: #008B8B;
}
.bi-change .type-second {
  background-color: #6495ED;
}
.bi-change .type-third {
  background-color: #0088cc;
}
.bi-tmp .tmp-button {
  color: #ffffff;
  background: #0088cc;
}
.bi-splice-duplicate .superiors-label {
  color: white;
  background-color: #008B8B;
}
.bi-splice-duplicate .sd-child {
  border: 1px solid #cccccc;
}
.bi-splice-duplicate .sd-child .right-button-add {
  color: white;
  background-color: #0088cc;
}
.bi-splice-duplicate .sd-child .right-button-del {
  color: white;
  background-color: #d9534f;
}
