@import "../index";

a {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: 0;
}

div:focus {
  outline: none;
}

input {
  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  &::-ms-clear {
    display: none;
  }
}

input,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
}

i {
  //font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
