@import "../../bibase";

.bi-sql-editor{

  & .cm-s-default span[class*="#"] {
    color: @color-bi-text-warning;
  }

  & .cm-s-default .cm-keyword {
    color: @color-bi-text-highlight;
  }

  & .cm-s-default .cm-function {
    color: @color-bi-text-warning;
  }

}

.CodeMirror-hints {
  & .sql-fr-function{
    color: @color-bi-text-warning;
  }

  & .sql-keyword{
    color: @color-bi-text-highlight;
  }

  .CodeMirror-hint-active {
    background: @color-bi-background-highlight;
    color: @color-bi-text;
  }
}