@import "../../index";

.bi-sql-editor{

  & .cm-s-default span[class*="#"] {
    color: @color-bi-text-highlight;
  }

  & .cm-s-default .cm-keyword {
    color: @color-bi-text-highlight;
  }

  & .cm-s-default .cm-function {
    color: @color-bi-text-highlight;
  }

}

.CodeMirror-hints {
  & .sql-fr-function{
    color: @color-bi-text-highlight;
  }

  & .sql-keyword{
    color: @color-bi-text-highlight;
  }
}