@import "../../index";

.bi-sql-editor{

  & .cm-s-default span[class*="#"] {
    color: @color-bi-text-highlight;
  }

  & .cm-s-default .cm-keyword {
    color: @color-bi-text-highlight;
  }

  & .cm-s-default .cm-function {
    color: @color-bi-text-highlight;
  }

  & .param {
    color: @color-bi-text;
    padding: 0 5px;
    margin: 1px 1px;
    .border-radius(2px);
    background: @color-bi-background-highlight;
    display: inline-block;
  }
}

.CodeMirror-hints {
  & .sql-fr-function{
    color: @color-bi-text-highlight;
  }

  & .sql-keyword{
    color: @color-bi-text-highlight;
  }
}