/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-loading-main-background {
  background-color: #ffffff;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.bi-loading-mask-content .loading-bar-label {
  font-size: 20px;
  color: #808080;
}
