.bi-relation-view-region .relation-view-region-container {
  z-index: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-relation-view-region .relation-view-region-container.other-package {
  border-style: dashed;
}
