@import "../../index";

.bi-down-list-popup {
  & .list-group-item-text {
    max-width: 203px;

    &.active {
      color: @color-bi-text-highlight;
    }
  }
  & .bi-down-list-item {
    & .list-item-text {
      max-width: 203px;
    }
  }
}