@webUrl: '';
@imageUrl: ''; //图片的基本地址

@cursor: '@{imageUrl}cursor/cursor_hand.cur';
@dragCursor: '@{imageUrl}cursor/cursor_drag_hand.cur';
@leftRightCursor:'@{imageUrl}cursor/cursor_left_right.cur';

@zIndex-layer:    100000;
@zIndex-floatbox: 1000000;
@zIndex-popup:    10000000;
@zIndex-masker:   100000000;
@zIndex-tip:      1000000000;