/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-numerical-interval-popup .numerical-interval-popup-item.hover,
.bi-numerical-interval-popup .numerical-interval-popup-item:hover {
  background-color: #f4f4f4;
}
.bi-numerical-interval-popup .numerical-interval-popup-item.active,
.bi-numerical-interval-popup .numerical-interval-popup-item:active {
  background-color: #f4f4f4;
  color: #009de3;
}
