.bi-single-select-combo .single-select-trigger-icon-button {
  font-size: 16px;
}
.bi-single-select-combo .trigger-up {
  display: none;
}
.bi-single-select-combo .trigger-down {
  display: block;
}
.bi-single-select-combo.combo-show .trigger-up {
  display: block;
}
.bi-single-select-combo.combo-show .trigger-down {
  display: none;
}
.bi-single-select-combo .bi-combo-hover > .bi-border {
  border-color: #3685f2;
}
.bi-single-select-combo:focus .bi-combo.bi-combo-popup > .bi-border,
.bi-single-select-combo:focus-within .bi-combo.bi-combo-popup > .bi-border {
  border-color: #3685f2;
}
