.bi-single-select-combo .single-select-trigger-icon-button {
  font-size: 16px;
}
.bi-single-select-combo .bi-combo.bi-combo-popup + .bi-trigger-icon-button .x-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
