body .bi-button,
#body .bi-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #178cdf;
  background-color: #3f8ce8;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
}
body .bi-button.block,
#body .bi-button.block {
  font-size: inherit;
  border-width: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
body .bi-button.clear,
#body .bi-button.clear {
  font-size: inherit;
  border-width: 0;
  background-color: transparent;
}
body .bi-button.clear:hover,
#body .bi-button.clear:hover,
body .bi-button.clear:active,
#body .bi-button.clear:active {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
body .bi-button.button-common,
#body .bi-button.button-common,
body .bi-button.button-common .b-font:before,
#body .bi-button.button-common .b-font:before {
  color: #ffffff;
}
body .bi-button.button-common.clear,
#body .bi-button.button-common.clear,
body .bi-button.button-common.clear .b-font:before,
#body .bi-button.button-common.clear .b-font:before {
  color: #3685f2;
}
body .bi-button.button-ignore,
#body .bi-button.button-ignore {
  background-color: #ffffff;
  border-color: #e8eaed;
}
body .bi-button.button-ignore,
#body .bi-button.button-ignore,
body .bi-button.button-ignore .b-font:before,
#body .bi-button.button-ignore .b-font:before {
  color: #1a1a1a;
}
body .bi-button.button-ignore.clear,
#body .bi-button.button-ignore.clear {
  background-color: transparent;
  border-width: 0;
}
body .bi-button.button-success,
#body .bi-button.button-success {
  background-color: #58cc7d;
  border-color: #58cc7d;
}
body .bi-button.button-success,
#body .bi-button.button-success,
body .bi-button.button-success .b-font:before,
#body .bi-button.button-success .b-font:before {
  color: #ffffff;
}
body .bi-button.button-success.clear,
#body .bi-button.button-success.clear {
  background-color: transparent;
  border-width: 0;
}
body .bi-button.button-success.clear,
#body .bi-button.button-success.clear,
body .bi-button.button-success.clear .b-font:before,
#body .bi-button.button-success.clear .b-font:before {
  color: #5cb75d;
}
body .bi-button.button-warning,
#body .bi-button.button-warning {
  background-color: #ff4949;
  border-color: #e85050;
}
body .bi-button.button-warning,
#body .bi-button.button-warning,
body .bi-button.button-warning .b-font:before,
#body .bi-button.button-warning .b-font:before {
  color: #ffffff;
}
body .bi-button.button-warning.clear,
#body .bi-button.button-warning.clear {
  background-color: transparent;
  border-width: 0;
}
body .bi-button.button-warning.clear,
#body .bi-button.button-warning.clear,
body .bi-button.button-warning.clear .b-font:before,
#body .bi-button.button-warning.clear .b-font:before {
  color: #faaa39;
}
body .bi-button.button-common.disabled,
#body .bi-button.button-common.disabled,
body .bi-button.button-success.disabled,
#body .bi-button.button-success.disabled,
body .bi-button.button-warning.disabled,
#body .bi-button.button-warning.disabled,
body .bi-button.button-common.disabled.base-disabled,
#body .bi-button.button-common.disabled.base-disabled,
body .bi-button.button-success.disabled.base-disabled,
#body .bi-button.button-success.disabled.base-disabled,
body .bi-button.button-warning.disabled.base-disabled,
#body .bi-button.button-warning.disabled.base-disabled {
  background: #cccccc !important;
  border-color: #cccccc !important;
}
body .bi-button.button-common.disabled,
#body .bi-button.button-common.disabled,
body .bi-button.button-success.disabled,
#body .bi-button.button-success.disabled,
body .bi-button.button-warning.disabled,
#body .bi-button.button-warning.disabled,
body .bi-button.button-common.disabled.base-disabled,
#body .bi-button.button-common.disabled.base-disabled,
body .bi-button.button-success.disabled.base-disabled,
#body .bi-button.button-success.disabled.base-disabled,
body .bi-button.button-warning.disabled.base-disabled,
#body .bi-button.button-warning.disabled.base-disabled,
body .bi-button.button-common.disabled .b-font:before,
#body .bi-button.button-common.disabled .b-font:before,
body .bi-button.button-success.disabled .b-font:before,
#body .bi-button.button-success.disabled .b-font:before,
body .bi-button.button-warning.disabled .b-font:before,
#body .bi-button.button-warning.disabled .b-font:before,
body .bi-button.button-common.disabled.base-disabled .b-font:before,
#body .bi-button.button-common.disabled.base-disabled .b-font:before,
body .bi-button.button-success.disabled.base-disabled .b-font:before,
#body .bi-button.button-success.disabled.base-disabled .b-font:before,
body .bi-button.button-warning.disabled.base-disabled .b-font:before,
#body .bi-button.button-warning.disabled.base-disabled .b-font:before {
  color: #ffffff !important;
}
body .bi-button.button-ignore.disabled,
#body .bi-button.button-ignore.disabled {
  background: #ffffff !important;
  border-color: #e8eaed !important;
}
body .bi-button.button-ignore.disabled,
#body .bi-button.button-ignore.disabled,
body .bi-button.button-ignore.disabled .b-font:before,
#body .bi-button.button-ignore.disabled .b-font:before {
  color: #9ea6b2 !important;
}
body .bi-button.button-common.disabled.clear,
#body .bi-button.button-common.disabled.clear,
body .bi-button.button-success.disabled.clear,
#body .bi-button.button-success.disabled.clear,
body .bi-button.button-warning.disabled.clear,
#body .bi-button.button-warning.disabled.clear,
body .bi-button.button-ignore.disabled.clear,
#body .bi-button.button-ignore.disabled.clear {
  background: transparent !important;
  border-width: 0 !important;
}
body .bi-button.button-common.disabled.clear,
#body .bi-button.button-common.disabled.clear,
body .bi-button.button-success.disabled.clear,
#body .bi-button.button-success.disabled.clear,
body .bi-button.button-warning.disabled.clear,
#body .bi-button.button-warning.disabled.clear,
body .bi-button.button-ignore.disabled.clear,
#body .bi-button.button-ignore.disabled.clear,
body .bi-button.button-common.disabled.clear .b-font:before,
#body .bi-button.button-common.disabled.clear .b-font:before,
body .bi-button.button-success.disabled.clear .b-font:before,
#body .bi-button.button-success.disabled.clear .b-font:before,
body .bi-button.button-warning.disabled.clear .b-font:before,
#body .bi-button.button-warning.disabled.clear .b-font:before,
body .bi-button.button-ignore.disabled.clear .b-font:before,
#body .bi-button.button-ignore.disabled.clear .b-font:before {
  color: #9ea6b2 !important;
}
body .bi-button.button-common.disabled.clear:hover,
#body .bi-button.button-common.disabled.clear:hover,
body .bi-button.button-success.disabled.clear:hover,
#body .bi-button.button-success.disabled.clear:hover,
body .bi-button.button-warning.disabled.clear:hover,
#body .bi-button.button-warning.disabled.clear:hover,
body .bi-button.button-ignore.disabled.clear:hover,
#body .bi-button.button-ignore.disabled.clear:hover,
body .bi-button.button-common.disabled.clear:active,
#body .bi-button.button-common.disabled.clear:active,
body .bi-button.button-success.disabled.clear:active,
#body .bi-button.button-success.disabled.clear:active,
body .bi-button.button-warning.disabled.clear:active,
#body .bi-button.button-warning.disabled.clear:active,
body .bi-button.button-ignore.disabled.clear:active,
#body .bi-button.button-ignore.disabled.clear:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.bi-basic-button.button-common .bi-button-mask,
.bi-basic-button.button-success .bi-button-mask,
.bi-basic-button.button-warning .bi-button-mask {
  opacity: 0.2;
  filter: alpha(opacity=20);
  background-color: #ffffff;
}
.bi-basic-button .bi-button-mask {
  opacity: 0.2;
  filter: alpha(opacity=20);
  background-color: #1a1a1a;
}
