/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #178cdf;
  background-color: #3f8ce8;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
}
.bi-button.clear {
  font-size: inherit;
  border-width: 0;
  background-color: transparent;
}
.bi-button.clear:hover,
.bi-button.clear:active {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.bi-button.button-common {
  color: #ffffff;
}
.bi-button.button-common.clear {
  color: #3f8ce8;
}
.bi-button.button-ignore {
  color: #1a1a1a;
  background-color: #ffffff;
  border-color: #d4dadd;
}
.bi-button.button-ignore.clear {
  background-color: transparent;
  border-width: 0;
}
.bi-button.button-success {
  color: #ffffff;
  background-color: #58cc7d;
  border-color: #58cc7d;
}
.bi-button.button-success.clear {
  color: #0c6d23;
  background-color: transparent;
  border-width: 0;
}
.bi-button.button-warning {
  color: #ffffff;
  background-color: #e85050;
  border-color: #e85050;
}
.bi-button.button-warning.clear {
  color: #e85050;
  background-color: transparent;
  border-width: 0;
}
.bi-button.button-common.disabled,
.bi-button.button-success.disabled,
.bi-button.button-warning.disabled {
  color: #ffffff !important;
  background: #cccccc !important;
  border-color: #cccccc !important;
}
.bi-button.button-ignore.disabled {
  color: #cccccc !important;
  background: #ffffff !important;
  border-color: #d4dadd !important;
}
.bi-button.button-common.disabled.clear,
.bi-button.button-success.disabled.clear,
.bi-button.button-warning.disabled.clear,
.bi-button.button-ignore.disabled.clear {
  color: #cccccc !important;
  background: transparent !important;
  border-width: 0 !important;
}
.bi-button.button-common.disabled.clear:hover,
.bi-button.button-success.disabled.clear:hover,
.bi-button.button-warning.disabled.clear:hover,
.bi-button.button-ignore.disabled.clear:hover,
.bi-button.button-common.disabled.clear:active,
.bi-button.button-success.disabled.clear:active,
.bi-button.button-warning.disabled.clear:active,
.bi-button.button-ignore.disabled.clear:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.bi-basic-button.button-common .bi-button-mask,
.bi-basic-button.button-success .bi-button-mask,
.bi-basic-button.button-warning .bi-button-mask {
  opacity: 0.2;
  filter: alpha(opacity=20);
  background-color: #ffffff;
}
.bi-basic-button .bi-button-mask {
  opacity: 0.2;
  filter: alpha(opacity=20);
  background-color: #1a1a1a;
}
