.bi-switch {
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  background-color: #d0d4da;
}
.bi-switch:active,
.bi-switch.active {
  background-color: #3685f2;
}
.bi-switch .circle-button {
  -webkit-border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
}
.bi-switch.disabled {
  background-color: #f2f4f7;
}
.bi-switch.disabled:active {
  background-color: #f2f4f7;
}
.bi-theme-dark .bi-switch {
  background-color: #606479;
}
.bi-theme-dark .bi-switch:active,
.bi-theme-dark .bi-switch.active {
  background-color: #3685f2;
}
.bi-theme-dark .bi-switch.disabled {
  background-color: #292f45;
}
.bi-theme-dark .bi-switch.disabled:active {
  background-color: #292f45;
}
