/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-table > .first-col {
  border-left: none;
}
.bi-table > .first-row {
  border-top: none;
}
.bi-table > div > div > table {
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.bi-table > div.top-left > div > div > table {
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.bi-table > div.top-right > div > div > table {
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.bi-table > div.bottom-left > div > div > table {
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.bi-table > div.bottom-right > div > div > table {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.bi-table > div > div > table,
.bi-table > div > div > div > table {
  min-width: 100%;
  clear: both;
  vertical-align: middle;
  border-spacing: 0;
  border-collapse: separate;
}
.bi-table > div > div > table,
.bi-table > div > div > div > table,
.bi-table > div > div > table > * > * > th,
.bi-table > div > div > div > table > * > * > th,
.bi-table > div > div > table > * > * > td,
.bi-table > div > div > div > table > * > * > td {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.bi-table > div > div > table > tbody > tr > td,
.bi-table > div > div > div > table > tbody > tr > td,
.bi-table > div > div > table > thead > tr > td,
.bi-table > div > div > div > table > thead > tr > td {
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}
