@import "../../index";

.bi-interactive-arrangement {
  & .interactive-arrangement-dragtag-line {
    z-index: @zIndex-tip;
    background-color: @color-bi-background-interactive-arrangement-dragtag-line;
  }
  & .interactive-arrangement-dragtag-icon {
    z-index: @zIndex-tip;
  }
}