@import "../../bibase";

.bi-interactive-arrangement {
  & .interactive-arrangement-dragtag-line {
    z-index: @zIndex-tip;
    background-color: @color-bi-text-redmark;
  }
  & .interactive-arrangement-dragtag-icon {
    z-index: @zIndex-tip;
  }
}