@import "../../../index";

.bi-single-slider-button {
  & .slider-button {
    cursor: ew-resize;
    border: 2px solid @color-bi-border-highlight;
    .border-radius(8px);
    background-color: @color-bi-background-default;
    &:hover, &.hover {
      .border-radius(10px);
    }
  }
}