@import "../../bibase";
.bi-combine-chart {
  & .bi-linkage-list {
    background-color: @background-color-default;
    border: 1px solid @border-color-line;
    z-index: @zIndex-tip;
    & .bi-linkage-list-item {
      &:hover {
        background-color: @color-bi-background-gray;
      }
    }
  }
}