.bi-single-slider-button .slider-button {
  cursor: ew-resize;
  border: 2px solid #3685f2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #ffffff;
  height: 16px;
  width: 16px;
  top: 6px;
  left: -8px;
}
.bi-single-slider-button .slider-button:hover,
.bi-single-slider-button .slider-button.hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #f7f8fa;
  width: 20px;
  height: 20px;
  top: 4px;
  left: -10px;
}
.bi-single-slider-button .slider-button.disabled {
  border-color: #d0d4da;
}
.bi-single-slider-button .slider-button.disabled:hover,
.bi-single-slider-button .slider-button.disabled.hover {
  background-color: #f7f8fa;
  width: 16px;
  height: 16px;
  top: 6px;
  left: -8px;
}
