.bi-single-slider-button .slider-button {
  cursor: ew-resize;
  border: 2px solid #3685f2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #ffffff;
}
