.bi-color-chooser-popup .disable-mask {
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: #ffffff;
}

.bi-color-chooser-trigger {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
