@import "../../index";

.bi-multi-select-combo{
  & .multi-select-trigger-icon-button{
    font-size: 16px;
  }
  & .trigger-up {
    display: none;
  }
  & .trigger-down {
    display: block;
  }
  &.combo-show {
    & .trigger-up {
      display: block;
    }
    & .trigger-down {
      display: none;
    }
  }
}

.bi-combo {
  &.bi-combo-popup {
    &:focus, &:hover {
      & .bi-multi-select-trigger {
        border-color: @color-bi-border-highlight;
      }
    }
  }
}