@import "../../index";

.bi-multi-select-insert-combo{
  & .multi-select-trigger-icon-button{
    font-size: 16px;
  }
  & .trigger-up {
    display: none;
  }
  & .trigger-down {
    display: block;
  }
  &.combo-show {
    & .trigger-up {
      display: block;
    }
    & .trigger-down {
      display: none;
    }
  }

  & .bi-combo-hover {
    & > .bi-border {
      border-color: @color-bi-border-highlight;
    }
  }
  &:focus, &:focus-within {
    & .bi-combo {
      &.bi-combo-popup {
        & > .bi-border {
          border-color: @color-bi-border-highlight;
        }
      }
    }
  }
}