/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-database-table {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d4dadd;
  background: #ffffff;
}
.bi-database-table.active {
  background: #009de3;
  color: #ffffff;
}
.bi-database-table .table-name-text {
  max-width: 300px;
}
.bi-database-table .table-font {
  font-size: 16px;
}
.bi-database-table .table-conn-label1 {
  background-color: #009de3;
}
.bi-database-table .table-conn-label2 {
  background-color: #4fc1e9;
}
.bi-database-table .table-conn-label3 {
  background-color: #48cfad;
}
.bi-database-table .table-conn-label4 {
  background-color: #57cb7c;
}
.bi-database-table .table-conn-label5 {
  background-color: #a0d468;
}
.bi-database-table .table-conn-label6 {
  background-color: #fbaf4f;
}
.bi-database-table .table-conn-label7 {
  background-color: #fc6e51;
}
.bi-database-table .table-conn-label8 {
  background-color: #ed5565;
}
.bi-database-table .table-conn-label9 {
  background-color: #ac92ec;
}
.bi-database-table .table-conn-label10 {
  background-color: #5d9cec;
}
.bi-database-table.table-selected1.active {
  background-color: #009de3;
}
.bi-database-table.table-selected2.active {
  background-color: #4fc1e9;
}
.bi-database-table.table-selected3.active {
  background-color: #48cfad;
}
.bi-database-table.table-selected4.active {
  background-color: #57cb7c;
}
.bi-database-table.table-selected5.active {
  background-color: #a0d468;
}
.bi-database-table.table-selected6.active {
  background-color: #fbaf4f;
}
.bi-database-table.table-selected7.active {
  background-color: #fc6e51;
}
.bi-database-table.table-selected8.active {
  background-color: #ed5565;
}
.bi-database-table.table-selected9.active {
  background-color: #ac92ec;
}
.bi-database-table.table-selected10.active {
  background-color: #5d9cec;
}
