

.bi-trigger .bi-trigger-icon-button {
  font-size: 16px;
}
.bi-trigger .trigger-up {
  display: none;
}
.bi-trigger .trigger-down {
  display: block;
}
.bi-combo-popup > .bi-trigger .trigger-up {
  display: block;
}
.bi-combo-popup > .bi-trigger .trigger-down {
  display: none;
}

.bi-select-text-trigger {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.bi-small-select-text-trigger {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
