.bi-multi-select-combo .multi-select-trigger-icon-button {
  font-size: 16px;
}
.bi-multi-select-combo .trigger-up {
  display: none;
}
.bi-multi-select-combo .trigger-down {
  display: block;
}
.bi-multi-select-combo.combo-show .trigger-up {
  display: block;
}
.bi-multi-select-combo.combo-show .trigger-down {
  display: none;
}
.bi-multi-select-combo .bi-combo-hover > .bi-border {
  border-color: #3685f2;
}
.bi-multi-select-combo:focus .bi-combo.bi-combo-popup > .bi-border,
.bi-multi-select-combo:focus-within .bi-combo.bi-combo-popup > .bi-border {
  border-color: #3685f2;
}

.bi-multi-select-insert-combo .multi-select-trigger-icon-button {
  font-size: 16px;
}
.bi-multi-select-insert-combo .trigger-up {
  display: none;
}
.bi-multi-select-insert-combo .trigger-down {
  display: block;
}
.bi-multi-select-insert-combo.combo-show .trigger-up {
  display: block;
}
.bi-multi-select-insert-combo.combo-show .trigger-down {
  display: none;
}
.bi-multi-select-insert-combo .bi-combo-hover > .bi-border {
  border-color: #3685f2;
}
.bi-multi-select-insert-combo:focus .bi-combo.bi-combo-popup > .bi-border,
.bi-multi-select-insert-combo:focus-within .bi-combo.bi-combo-popup > .bi-border {
  border-color: #3685f2;
}


.bi-multi-select-trigger {
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}
