.bi-interval-slider-label {
  min-height: 50px;
}

.bi-interval-slider {
  min-height: 70px;
}
.bi-single-slider-label {
  min-height: 50px;
}

.bi-single-slider-normal {
  min-height: 30px;
}
.bi-single-slider {
  min-height: 50px;
}
.bi-single-slider-button .slider-button {
  cursor: ew-resize;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.bi-single-slider-button .slider-button {
  cursor: ew-resize;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.bi-slider-track .gray-track {
  background-color: rgba(153, 153, 153, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d999999,endColorstr=#4d999999);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-slider-track .blue-track {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-slider-track .gray-track {
  background-color: rgba(153, 153, 153, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d999999,endColorstr=#4d999999);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-slider-track .blue-track {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
