/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-multi-select-check-pane .multi-select-continue-select {
  background-color: #f4f4f4;
}
.bi-multi-select-check-pane .multi-select-check-selected {
  color: #009de3;
  text-decoration: underline;
}
