@import "../../../bibase";

.bi-database-table {
  .border-radius(2px);
  border: 1px solid @color-bi-border-normal;
  background: @color-bi-background-default;
  &.active {
    background: @color-bi-background-highlight;
    color: @color-bi-text;
  }
  & .table-name-text {
    max-width: 300px;
  }
  & .table-font {
    font-size: @font-size-16;
  }
  & .table-conn-label1 {
    background-color: @color-bi-data-link-button-color1;
  }
  & .table-conn-label2 {
    background-color: @color-bi-data-link-button-color2;
  }
  & .table-conn-label3 {
    background-color: @color-bi-data-link-button-color3;
  }
  & .table-conn-label4 {
    background-color: @color-bi-data-link-button-color4;
  }
  & .table-conn-label5 {
    background-color: @color-bi-data-link-button-color5;
  }
  & .table-conn-label6 {
    background-color: @color-bi-data-link-button-color6;
  }
  & .table-conn-label7 {
    background-color: @color-bi-data-link-button-color7;
  }
  & .table-conn-label8 {
    background-color: @color-bi-data-link-button-color8;
  }
  & .table-conn-label9 {
    background-color: @color-bi-data-link-button-color9;
  }
  & .table-conn-label10 {
    background-color: @color-bi-data-link-button-color10;
  }

  &.table-selected1.active {
    background-color: @color-bi-data-link-button-color1;
  }
  &.table-selected2.active {
    background-color: @color-bi-data-link-button-color2;
  }
  &.table-selected3.active {
    background-color: @color-bi-data-link-button-color3;
  }
  &.table-selected4.active {
    background-color: @color-bi-data-link-button-color4;
  }
  &.table-selected5.active {
    background-color: @color-bi-data-link-button-color5;
  }
  &.table-selected6.active {
    background-color: @color-bi-data-link-button-color6;
  }
  &.table-selected7.active {
    background-color: @color-bi-data-link-button-color7;
  }
  &.table-selected8.active {
    background-color: @color-bi-data-link-button-color8;
  }
  &.table-selected9.active {
    background-color: @color-bi-data-link-button-color9;
  }
  &.table-selected10.active {
    background-color: @color-bi-data-link-button-color10;
  }
}