@font-face {
  font-family: 'bi';
  src: url('font/iconfont.eot'), /* IE6-IE8 */ url('font/iconfont.woff') format('woff'), /* chrome、firefox */ url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('font/iconfont.svg#svgFontName') format('svg');
  
  /*  iOS 4.1- */
}
.b-font {
  font-family: "bi";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.close-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe600;');
}
.close-font .b-font:before {
  content: "\e600";
  color: inherit;
}
.close-font.native .b-font:before,
.close-font.disabled .b-font:before {
  content: "\e600";
  color: inherit;
}
.close-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe600;');
}
.close-h-font .b-font:before {
  content: "\e600";
  color: inherit;
}
.close-h-font:hover .b-font:before,
.close-h-font:focus .b-font:before,
.close-h-font.hover .b-font:before {
  content: "\e600";
  color: inherit;
}
.close-h-font.native .b-font:before,
.close-h-font.disabled .b-font:before {
  content: "\e600";
  color: inherit;
}
.close-ha-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe600;');
}
.close-ha-font .b-font:before {
  content: "\e600";
  color: inherit;
}
.close-ha-font:hover .b-font:before,
.close-ha-font:focus .b-font:before,
.close-ha-font.hover .b-font:before {
  content: "\e600";
  color: inherit;
}
.close-ha-font:active .b-font:before,
.close-ha-font.active .b-font:before {
  content: "\e600";
  color: #3f8ce8;
}
.close-ha-font.native .b-font:before,
.close-ha-font.disabled .b-font:before {
  content: "\e600";
  color: inherit;
}
.search-close-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe600;');
}
.search-close-h-font .b-font:before {
  content: "\e600";
  color: inherit;
}
.search-close-h-font:hover .b-font:before,
.search-close-h-font:focus .b-font:before,
.search-close-h-font.hover .b-font:before {
  content: "\e600";
  color: #e85050;
}
.search-close-h-font.native .b-font:before,
.search-close-h-font.disabled .b-font:before {
  content: "\e600";
  color: inherit;
}
.pre-page-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe601;');
}
.pre-page-h-font .b-font:before {
  content: "\e601";
  color: inherit;
}
.pre-page-h-font:hover .b-font:before,
.pre-page-h-font:focus .b-font:before,
.pre-page-h-font.hover .b-font:before {
  content: "\e601";
  color: inherit;
}
.pre-page-h-font.native .b-font:before,
.pre-page-h-font.disabled .b-font:before {
  content: "\e601";
  color: inherit;
}
.next-page-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe602;');
}
.next-page-h-font .b-font:before {
  content: "\e602";
  color: inherit;
}
.next-page-h-font:hover .b-font:before,
.next-page-h-font:focus .b-font:before,
.next-page-h-font.hover .b-font:before {
  content: "\e602";
  color: inherit;
}
.next-page-h-font.native .b-font:before,
.next-page-h-font.disabled .b-font:before {
  content: "\e602";
  color: inherit;
}
.search-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe604;');
}
.search-font .b-font:before {
  content: "\e604";
  color: inherit;
}
.search-font.native .b-font:before,
.search-font.disabled .b-font:before {
  content: "\e604";
  color: inherit;
}
.dot-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe606;');
}
.dot-font .b-font:before {
  content: "\e606";
  color: #1a1a1a;
}
.dot-font.native .b-font:before,
.dot-font.disabled .b-font:before {
  content: "\e606";
  color: #1a1a1a;
}
.dot-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe606;');
}
.dot-h-font .b-font:before {
  content: "\e606";
  color: #1a1a1a;
}
.dot-h-font:hover .b-font:before,
.dot-h-font:focus .b-font:before,
.dot-h-font.hover .b-font:before {
  content: "\e606";
  color: inherit;
}
.dot-h-font.native .b-font:before,
.dot-h-font.disabled .b-font:before {
  content: "\e606";
  color: #1a1a1a;
}
.dot-ha-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe606;');
}
.dot-ha-font .b-font:before {
  content: "\e606";
  color: #ffffff;
}
.dot-ha-font:hover .b-font:before,
.dot-ha-font:focus .b-font:before,
.dot-ha-font.hover .b-font:before {
  content: "\e606";
  color: #999999;
}
.dot-ha-font:active .b-font:before,
.dot-ha-font.active .b-font:before {
  content: "\e606";
  color: #1a1a1a;
}
.dot-ha-font.native .b-font:before,
.dot-ha-font.disabled .b-font:before {
  content: "\e606";
  color: #ffffff;
}
.dot-e-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe606;');
}
.dot-e-font .b-font:before {
  content: "\e606";
  color: #ffffff;
}
.dot-e-font:hover .b-font:before,
.dot-e-font:focus .b-font:before,
.dot-e-font.hover .b-font:before {
  content: "\e606";
  color: #999999;
}
.dot-e-font.active .b-font:before {
  content: "\e606";
  color: #1a1a1a;
}
.dot-e-font:active .b-font:before {
  content: "\e606";
  color: #3f8ce8;
}
.dot-e-font.native .b-font:before,
.dot-e-font.disabled .b-font:before {
  content: "\e606";
  color: #ffffff;
}
.pull-right-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe607;');
}
.pull-right-font .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-font.native .b-font:before,
.pull-right-font.disabled .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe607;');
}
.pull-right-h-font .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-h-font:hover .b-font:before,
.pull-right-h-font:focus .b-font:before,
.pull-right-h-font.hover .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-h-font.native .b-font:before,
.pull-right-h-font.disabled .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-ha-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe607;');
}
.pull-right-ha-font .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-ha-font:hover .b-font:before,
.pull-right-ha-font:focus .b-font:before,
.pull-right-ha-font.hover .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-ha-font:active .b-font:before,
.pull-right-ha-font.active .b-font:before {
  content: "\e607";
  color: #3f8ce8;
}
.pull-right-ha-font.native .b-font:before,
.pull-right-ha-font.disabled .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-e-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe607;');
}
.pull-right-e-font .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-e-font:hover .b-font:before,
.pull-right-e-font:focus .b-font:before,
.pull-right-e-font.hover .b-font:before {
  content: "\e607";
  color: inherit;
}
.pull-right-e-font.active .b-font:before {
  content: "\e607";
  color: #3f8ce8;
}
.pull-right-e-font:active .b-font:before {
  content: "\e607";
  color: #3f8ce8;
}
.pull-right-e-font.native .b-font:before,
.pull-right-e-font.disabled .b-font:before {
  content: "\e607";
  color: inherit;
}
.copy-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe610;');
}
.copy-font .b-font:before {
  content: "\e610";
  color: inherit;
}
.copy-font.native .b-font:before,
.copy-font.disabled .b-font:before {
  content: "\e610";
  color: inherit;
}
.copy-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe610;');
}
.copy-h-font .b-font:before {
  content: "\e610";
  color: #1a1a1a;
}
.copy-h-font:hover .b-font:before,
.copy-h-font:focus .b-font:before,
.copy-h-font.hover .b-font:before {
  content: "\e610";
  color: inherit;
}
.copy-h-font.native .b-font:before,
.copy-h-font.disabled .b-font:before {
  content: "\e610";
  color: #1a1a1a;
}
.copy-ha-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe610;');
}
.copy-ha-font .b-font:before {
  content: "\e610";
  color: inherit;
}
.copy-ha-font:hover .b-font:before,
.copy-ha-font:focus .b-font:before,
.copy-ha-font.hover .b-font:before {
  content: "\e610";
  color: inherit;
}
.copy-ha-font:active .b-font:before,
.copy-ha-font.active .b-font:before {
  content: "\e610";
  color: #3f8ce8;
}
.copy-ha-font.native .b-font:before,
.copy-ha-font.disabled .b-font:before {
  content: "\e610";
  color: inherit;
}
.copy-e-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe610;');
}
.copy-e-font .b-font:before {
  content: "\e610";
  color: inherit;
}
.copy-e-font:hover .b-font:before,
.copy-e-font:focus .b-font:before,
.copy-e-font.hover .b-font:before {
  content: "\e610";
  color: inherit;
}
.copy-e-font.active .b-font:before {
  content: "\e610";
  color: #3f8ce8;
}
.copy-e-font:active .b-font:before {
  content: "\e610";
  color: #3f8ce8;
}
.copy-e-font.native .b-font:before,
.copy-e-font.disabled .b-font:before {
  content: "\e610";
  color: inherit;
}
.check-mark-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe611;');
}
.check-mark-font .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-font.native .b-font:before,
.check-mark-font.disabled .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe611;');
}
.check-mark-h-font .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-h-font:hover .b-font:before,
.check-mark-h-font:focus .b-font:before,
.check-mark-h-font.hover .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-h-font.native .b-font:before,
.check-mark-h-font.disabled .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-ha-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe611;');
}
.check-mark-ha-font .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-ha-font:hover .b-font:before,
.check-mark-ha-font:focus .b-font:before,
.check-mark-ha-font.hover .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-ha-font:active .b-font:before,
.check-mark-ha-font.active .b-font:before {
  content: "\e611";
  color: #3f8ce8;
}
.check-mark-ha-font.native .b-font:before,
.check-mark-ha-font.disabled .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-e-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe611;');
}
.check-mark-e-font .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-e-font:hover .b-font:before,
.check-mark-e-font:focus .b-font:before,
.check-mark-e-font.hover .b-font:before {
  content: "\e611";
  color: inherit;
}
.check-mark-e-font.active .b-font:before {
  content: "\e611";
  color: #3f8ce8;
}
.check-mark-e-font:active .b-font:before {
  content: "\e611";
  color: #3f8ce8;
}
.check-mark-e-font.native .b-font:before,
.check-mark-e-font.disabled .b-font:before {
  content: "\e611";
  color: inherit;
}
/** dashboard组件/控件 下拉列表图标字体 ~end~**/
.tree-node-triangle-expand-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe608;');
}
.tree-node-triangle-expand-font .b-font:before {
  content: "\e608";
  color: inherit;
}
.tree-node-triangle-expand-font.native .b-font:before,
.tree-node-triangle-expand-font.disabled .b-font:before {
  content: "\e608";
  color: inherit;
}
.tree-node-triangle-collapse-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe607;');
}
.tree-node-triangle-collapse-font .b-font:before {
  content: "\e607";
  color: inherit;
}
.tree-node-triangle-collapse-font.native .b-font:before,
.tree-node-triangle-collapse-font.disabled .b-font:before {
  content: "\e607";
  color: inherit;
}
.row-pre-page-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe6be;');
}
.row-pre-page-h-font .b-font:before {
  content: "\e6be";
  color: inherit;
}
.row-pre-page-h-font:hover .b-font:before,
.row-pre-page-h-font:focus .b-font:before,
.row-pre-page-h-font.hover .b-font:before {
  content: "\e6be";
  color: inherit;
}
.row-pre-page-h-font.native .b-font:before,
.row-pre-page-h-font.disabled .b-font:before {
  content: "\e6be";
  color: inherit;
}
.row-next-page-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe6bd;');
}
.row-next-page-h-font .b-font:before {
  content: "\e6bd";
  color: inherit;
}
.row-next-page-h-font:hover .b-font:before,
.row-next-page-h-font:focus .b-font:before,
.row-next-page-h-font.hover .b-font:before {
  content: "\e6bd";
  color: inherit;
}
.row-next-page-h-font.native .b-font:before,
.row-next-page-h-font.disabled .b-font:before {
  content: "\e6bd";
  color: inherit;
}
.column-pre-page-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe6bc;');
}
.column-pre-page-h-font .b-font:before {
  content: "\e6bc";
  color: inherit;
}
.column-pre-page-h-font:hover .b-font:before,
.column-pre-page-h-font:focus .b-font:before,
.column-pre-page-h-font.hover .b-font:before {
  content: "\e6bc";
  color: inherit;
}
.column-pre-page-h-font.native .b-font:before,
.column-pre-page-h-font.disabled .b-font:before {
  content: "\e6bc";
  color: inherit;
}
.column-next-page-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe6bb;');
}
.column-next-page-h-font .b-font:before {
  content: "\e6bb";
  color: inherit;
}
.column-next-page-h-font:hover .b-font:before,
.column-next-page-h-font:focus .b-font:before,
.column-next-page-h-font.hover .b-font:before {
  content: "\e6bb";
  color: inherit;
}
.column-next-page-h-font.native .b-font:before,
.column-next-page-h-font.disabled .b-font:before {
  content: "\e6bb";
  color: inherit;
}
.trigger-triangle-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe66a;');
}
.trigger-triangle-font .b-font:before {
  content: "\e66a";
  color: #999999;
}
.trigger-triangle-font:hover .b-font:before,
.trigger-triangle-font:focus .b-font:before,
.trigger-triangle-font.hover .b-font:before {
  content: "\e66a";
  color: #999999;
}
.trigger-triangle-font:active .b-font:before,
.trigger-triangle-font.active .b-font:before {
  content: "\e66a";
  color: #3f8ce8;
}
.trigger-triangle-font.native .b-font:before,
.trigger-triangle-font.disabled .b-font:before {
  content: "\e66a";
  color: #999999;
}
.pull-down-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe608;');
}
.pull-down-font .b-font:before {
  content: "\e608";
  color: inherit;
}
.pull-down-font.native .b-font:before,
.pull-down-font.disabled .b-font:before {
  content: "\e608";
  color: inherit;
}
.pull-down-h-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe608;');
}
.pull-down-h-font .b-font:before {
  content: "\e608";
  color: inherit;
}
.pull-down-h-font:hover .b-font:before,
.pull-down-h-font:focus .b-font:before,
.pull-down-h-font.hover .b-font:before {
  content: "\e608";
  color: inherit;
}
.pull-down-h-font.native .b-font:before,
.pull-down-h-font.disabled .b-font:before {
  content: "\e608";
  color: inherit;
}
.pull-down-ha-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe608;');
}
.pull-down-ha-font .b-font:before {
  content: "\e608";
  color: inherit;
}
.pull-down-ha-font:hover .b-font:before,
.pull-down-ha-font:focus .b-font:before,
.pull-down-ha-font.hover .b-font:before {
  content: "\e608";
  color: inherit;
}
.pull-down-ha-font:active .b-font:before,
.pull-down-ha-font.active .b-font:before {
  content: "\e608";
  color: #3f8ce8;
}
.pull-down-ha-font.native .b-font:before,
.pull-down-ha-font.disabled .b-font:before {
  content: "\e608";
  color: inherit;
}
.check-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe611;');
}
.check-font .b-font:before {
  content: "\e611";
  color: #3f8ce8;
}
.check-font.native .b-font:before,
.check-font.disabled .b-font:before {
  content: "\e611";
  color: #3f8ce8;
}
.item-check-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe611;');
}
.item-check-font .b-font:before {
  content: "\e611";
  color: #ffffff;
}
.item-check-font:hover .b-font:before,
.item-check-font:focus .b-font:before,
.item-check-font.hover .b-font:before {
  content: "\e611";
  color: #999999;
}
.item-check-font:active .b-font:before,
.item-check-font.active .b-font:before {
  content: "\e611";
  color: #3f8ce8;
}
.item-check-font.native .b-font:before,
.item-check-font.disabled .b-font:before {
  content: "\e611";
  color: #ffffff;
}
.primary-key-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe67d;;');
}
.primary-key-font .b-font:before {
  content: "\e67d;";
  color: inherit;
}
.primary-key-font:hover .b-font:before,
.primary-key-font:focus .b-font:before,
.primary-key-font.hover .b-font:before {
  content: "\e67d;";
  color: inherit;
}
.primary-key-font.native .b-font:before,
.primary-key-font.disabled .b-font:before {
  content: "\e67d;";
  color: inherit;
}
.drag-tag-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe600;');
}
.drag-tag-font .b-font:before {
  content: "\e600";
  color: #f07d0a;
}
.drag-tag-font.native .b-font:before,
.drag-tag-font.disabled .b-font:before {
  content: "\e600";
  color: #f07d0a;
}
.less-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe633;');
}
.less-font .b-font:before {
  content: "\e633";
  color: inherit;
}
.less-font:hover .b-font:before,
.less-font:focus .b-font:before,
.less-font.hover .b-font:before {
  content: "\e633";
  color: inherit;
}
.less-font:active .b-font:before,
.less-font.active .b-font:before {
  content: "\e633";
  color: #3f8ce8;
}
.less-font.native .b-font:before,
.less-font.disabled .b-font:before {
  content: "\e633";
  color: inherit;
}
.less-equal-font .b-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xe636;');
}
.less-equal-font .b-font:before {
  content: "\e636";
  color: inherit;
}
.less-equal-font:hover .b-font:before,
.less-equal-font:focus .b-font:before,
.less-equal-font.hover .b-font:before {
  content: "\e636";
  color: inherit;
}
.less-equal-font:active .b-font:before,
.less-equal-font.active .b-font:before {
  content: "\e636";
  color: #3f8ce8;
}
.less-equal-font.native .b-font:before,
.less-equal-font.disabled .b-font:before {
  content: "\e636";
  color: inherit;
}
