.tree-collapse-icon-type1 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_collapse_1.png') no-repeat center center;
  background-size: contain;
}
.tree-collapse-icon-type1 .x-icon.hack {
  background: url('images/1x/icon/tree_collapse_1.png') no-repeat center center;
}
.tree-collapse-icon-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_collapse_2.png') no-repeat center center;
  background-size: contain;
}
.tree-collapse-icon-type2 .x-icon.hack {
  background: url('images/1x/icon/tree_collapse_2.png') no-repeat center center;
}
.tree-collapse-icon-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_collapse_3.png') no-repeat center center;
  background-size: contain;
}
.tree-collapse-icon-type3 .x-icon.hack {
  background: url('images/1x/icon/tree_collapse_3.png') no-repeat center center;
}
.tree-collapse-icon-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_collapse_4.png') no-repeat center center;
  background-size: contain;
}
.tree-collapse-icon-type4 .x-icon.hack {
  background: url('images/1x/icon/tree_collapse_4.png') no-repeat center center;
}
.tree-expand-icon-type1 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_expand_1.png') no-repeat center center;
  background-size: contain;
}
.tree-expand-icon-type1 .x-icon.hack {
  background: url('images/1x/icon/tree_expand_1.png') no-repeat center center;
}
.tree-expand-icon-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_expand_2.png') no-repeat center center;
  background-size: contain;
}
.tree-expand-icon-type2 .x-icon.hack {
  background: url('images/1x/icon/tree_expand_2.png') no-repeat center center;
}
.tree-expand-icon-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_expand_3.png') no-repeat center center;
  background-size: contain;
}
.tree-expand-icon-type3 .x-icon.hack {
  background: url('images/1x/icon/tree_expand_3.png') no-repeat center center;
}
.tree-expand-icon-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_expand_4.png') no-repeat center center;
  background-size: contain;
}
.tree-expand-icon-type4 .x-icon.hack {
  background: url('images/1x/icon/tree_expand_4.png') no-repeat center center;
}
.tree-vertical-line-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_vertical_line_2.png') no-repeat center center;
  background-size: contain;
}
.tree-vertical-line-type2 .x-icon.hack {
  background: url('images/1x/icon/tree_vertical_line_2.png') no-repeat center center;
}
.tree-vertical-line-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_vertical_line_3.png') no-repeat center center;
  background-size: contain;
}
.tree-vertical-line-type3 .x-icon.hack {
  background: url('images/1x/icon/tree_vertical_line_3.png') no-repeat center center;
}
.tree-vertical-line-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_vertical_line_4.png') no-repeat center center;
  background-size: contain;
}
.tree-vertical-line-type4 .x-icon.hack {
  background: url('images/1x/icon/tree_vertical_line_4.png') no-repeat center center;
}
.bi-theme-dark .tree-collapse-icon-type1 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_collapse_1.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-collapse-icon-type1 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_collapse_1.png') no-repeat center center;
}
.bi-theme-dark .tree-collapse-icon-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_collapse_2.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-collapse-icon-type2 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_collapse_2.png') no-repeat center center;
}
.bi-theme-dark .tree-collapse-icon-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_collapse_3.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-collapse-icon-type3 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_collapse_3.png') no-repeat center center;
}
.bi-theme-dark .tree-collapse-icon-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_collapse_4.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-collapse-icon-type4 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_collapse_4.png') no-repeat center center;
}
.bi-theme-dark .tree-expand-icon-type1 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_expand_1.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-expand-icon-type1 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_expand_1.png') no-repeat center center;
}
.bi-theme-dark .tree-expand-icon-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_expand_2.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-expand-icon-type2 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_expand_2.png') no-repeat center center;
}
.bi-theme-dark .tree-expand-icon-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_expand_3.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-expand-icon-type3 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_expand_3.png') no-repeat center center;
}
.bi-theme-dark .tree-expand-icon-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_expand_4.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-expand-icon-type4 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_expand_4.png') no-repeat center center;
}
.bi-theme-dark .tree-vertical-line-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_vertical_line_2.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-vertical-line-type2 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_vertical_line_2.png') no-repeat center center;
}
.bi-theme-dark .tree-vertical-line-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_vertical_line_3.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-vertical-line-type3 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_vertical_line_3.png') no-repeat center center;
}
.bi-theme-dark .tree-vertical-line-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_vertical_line_4.png') no-repeat center center;
  background-size: contain;
}
.bi-theme-dark .tree-vertical-line-type4 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_vertical_line_4.png') no-repeat center center;
}
.check-box-icon .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_normal.png') no-repeat center center;
  background-size: contain;
}
.check-box-icon .x-icon.hack {
  background: url('images/1x/icon/check_box_normal.png') no-repeat center center;
}
.check-box-icon:hover .x-icon,
.check-box-icon.hover .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_normal.png') no-repeat center center;
  background-size: contain;
}
.check-box-icon:hover .x-icon.hack,
.check-box-icon.hover .x-icon.hack {
  background: url('images/1x/icon/check_box_normal.png') no-repeat center center;
}
.check-box-icon:active .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_normal.png') no-repeat center center;
  background-size: contain;
}
.check-box-icon:active .x-icon.hack {
  background: url('images/1x/icon/check_box_normal.png') no-repeat center center;
}
.check-box-icon.active .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_active.png') no-repeat center center;
  background-size: contain;
}
.check-box-icon.active .x-icon.hack {
  background: url('images/1x/icon/check_box_active.png') no-repeat center center;
}
.check-box-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_disable.png') no-repeat center center;
  background-size: contain;
}
.check-box-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/check_box_disable.png') no-repeat center center;
}
.check-box-icon.disabled.active .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_disable2.png') no-repeat center center;
  background-size: contain;
}
.check-box-icon.disabled.active .x-icon.hack {
  background: url('images/1x/icon/check_box_disable2.png') no-repeat center center;
}
.radio-icon .x-icon {
  display: block;
  background: url('images/2x/icon/radio_normal.png') no-repeat center center;
  background-size: contain;
}
.radio-icon .x-icon.hack {
  background: url('images/1x/icon/radio_normal.png') no-repeat center center;
}
.radio-icon:hover .x-icon,
.radio-icon.hover .x-icon {
  display: block;
  background: url('images/2x/icon/radio_normal.png') no-repeat center center;
  background-size: contain;
}
.radio-icon:hover .x-icon.hack,
.radio-icon.hover .x-icon.hack {
  background: url('images/1x/icon/radio_normal.png') no-repeat center center;
}
.radio-icon:active .x-icon {
  display: block;
  background: url('images/2x/icon/radio_normal.png') no-repeat center center;
  background-size: contain;
}
.radio-icon:active .x-icon.hack {
  background: url('images/1x/icon/radio_normal.png') no-repeat center center;
}
.radio-icon.active .x-icon {
  display: block;
  background: url('images/2x/icon/radio_active.png') no-repeat center center;
  background-size: contain;
}
.radio-icon.active .x-icon.hack {
  background: url('images/1x/icon/radio_active.png') no-repeat center center;
}
.radio-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/radio_disable.png') no-repeat center center;
  background-size: contain;
}
.radio-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/radio_disable.png') no-repeat center center;
}
.radio-icon.disabled.active .x-icon {
  display: block;
  background: url('images/2x/icon/radio_disable2.png') no-repeat center center;
  background-size: contain;
}
.radio-icon.disabled.active .x-icon.hack {
  background: url('images/1x/icon/radio_disable2.png') no-repeat center center;
}
.check-half-select-icon .x-icon {
  display: block;
  background: url('images/2x/icon/half_selected.png') no-repeat center center;
  background-size: contain;
}
.check-half-select-icon .x-icon.hack {
  background: url('images/1x/icon/half_selected.png') no-repeat center center;
}
.check-half-select-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/half_selected_disable.png') no-repeat center center;
  background-size: contain;
}
.check-half-select-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/half_selected_disable.png') no-repeat center center;
}
.slider-icon .x-icon {
  display: block;
  background: url('images/2x/icon/slider_normal_small.png') no-repeat center center;
  background-size: contain;
}
.slider-icon .x-icon.hack {
  background: url('images/1x/icon/slider_normal_small.png') no-repeat center center;
}
.slider-icon:hover .x-icon,
.slider-icon.hover .x-icon {
  display: block;
  background: url('images/2x/icon/slider_active_small.png') no-repeat center center;
  background-size: contain;
}
.slider-icon:hover .x-icon.hack,
.slider-icon.hover .x-icon.hack {
  background: url('images/1x/icon/slider_active_small.png') no-repeat center center;
}
.slider-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/slider_normal_small.png') no-repeat center center;
  background-size: contain;
}
.slider-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/slider_normal_small.png') no-repeat center center;
}
.auto-color-icon .x-icon {
  display: block;
  background: url('images/2x/icon/auto_normal.png') no-repeat center center;
  background-size: contain;
}
.auto-color-icon .x-icon.hack {
  background: url('images/1x/icon/auto_normal.png') no-repeat center center;
}
.auto-color-icon.active .x-icon {
  display: block;
  background: url('images/2x/icon/auto_select.png') no-repeat center center;
  background-size: contain;
}
.auto-color-icon.active .x-icon.hack {
  background: url('images/1x/icon/auto_select.png') no-repeat center center;
}
.auto-color-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/auto_disable.png') no-repeat center center;
  background-size: contain;
}
.auto-color-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/auto_disable.png') no-repeat center center;
}
.trans-color-icon .x-icon {
  display: block;
  background: url('images/2x/icon/trans_normal.png') no-repeat center center;
  background-size: contain;
}
.trans-color-icon .x-icon.hack {
  background: url('images/1x/icon/trans_normal.png') no-repeat center center;
}
.trans-color-icon.active .x-icon {
  display: block;
  background: url('images/2x/icon/trans_select.png') no-repeat center center;
  background-size: contain;
}
.trans-color-icon.active .x-icon.hack {
  background: url('images/1x/icon/trans_select.png') no-repeat center center;
}
.trans-color-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/trans_disable.png') no-repeat center center;
  background-size: contain;
}
.trans-color-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/trans_disable.png') no-repeat center center;
}
