.tree-collapse-icon-type1 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_collapse_1.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_collapse_1.png');
  background-size: contain;
  _background: none;
}
.tree-collapse-icon-type1 .x-icon.hack {
  background: url('images/1x/icon/tree_collapse_1.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_collapse_1.png');
  _background: none;
}
.tree-collapse-icon-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_collapse_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_collapse_2.png');
  background-size: contain;
  _background: none;
}
.tree-collapse-icon-type2 .x-icon.hack {
  background: url('images/1x/icon/tree_collapse_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_collapse_2.png');
  _background: none;
}
.tree-collapse-icon-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_collapse_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_collapse_3.png');
  background-size: contain;
  _background: none;
}
.tree-collapse-icon-type3 .x-icon.hack {
  background: url('images/1x/icon/tree_collapse_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_collapse_3.png');
  _background: none;
}
.tree-collapse-icon-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_collapse_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_collapse_4.png');
  background-size: contain;
  _background: none;
}
.tree-collapse-icon-type4 .x-icon.hack {
  background: url('images/1x/icon/tree_collapse_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_collapse_4.png');
  _background: none;
}
.tree-expand-icon-type1 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_expand_1.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_expand_1.png');
  background-size: contain;
  _background: none;
}
.tree-expand-icon-type1 .x-icon.hack {
  background: url('images/1x/icon/tree_expand_1.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_expand_1.png');
  _background: none;
}
.tree-expand-icon-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_expand_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_expand_2.png');
  background-size: contain;
  _background: none;
}
.tree-expand-icon-type2 .x-icon.hack {
  background: url('images/1x/icon/tree_expand_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_expand_2.png');
  _background: none;
}
.tree-expand-icon-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_expand_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_expand_3.png');
  background-size: contain;
  _background: none;
}
.tree-expand-icon-type3 .x-icon.hack {
  background: url('images/1x/icon/tree_expand_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_expand_3.png');
  _background: none;
}
.tree-expand-icon-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_expand_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_expand_4.png');
  background-size: contain;
  _background: none;
}
.tree-expand-icon-type4 .x-icon.hack {
  background: url('images/1x/icon/tree_expand_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_expand_4.png');
  _background: none;
}
.tree-vertical-line-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_vertical_line_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_vertical_line_2.png');
  background-size: contain;
  _background: none;
}
.tree-vertical-line-type2 .x-icon.hack {
  background: url('images/1x/icon/tree_vertical_line_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_vertical_line_2.png');
  _background: none;
}
.tree-vertical-line-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_vertical_line_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_vertical_line_3.png');
  background-size: contain;
  _background: none;
}
.tree-vertical-line-type3 .x-icon.hack {
  background: url('images/1x/icon/tree_vertical_line_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_vertical_line_3.png');
  _background: none;
}
.tree-vertical-line-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/tree_vertical_line_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/tree_vertical_line_4.png');
  background-size: contain;
  _background: none;
}
.tree-vertical-line-type4 .x-icon.hack {
  background: url('images/1x/icon/tree_vertical_line_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/tree_vertical_line_4.png');
  _background: none;
}
.bi-theme-dark .tree-collapse-icon-type1 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_collapse_1.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_collapse_1.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-collapse-icon-type1 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_collapse_1.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_collapse_1.png');
  _background: none;
}
.bi-theme-dark .tree-collapse-icon-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_collapse_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_collapse_2.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-collapse-icon-type2 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_collapse_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_collapse_2.png');
  _background: none;
}
.bi-theme-dark .tree-collapse-icon-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_collapse_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_collapse_3.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-collapse-icon-type3 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_collapse_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_collapse_3.png');
  _background: none;
}
.bi-theme-dark .tree-collapse-icon-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_collapse_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_collapse_4.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-collapse-icon-type4 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_collapse_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_collapse_4.png');
  _background: none;
}
.bi-theme-dark .tree-expand-icon-type1 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_expand_1.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_expand_1.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-expand-icon-type1 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_expand_1.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_expand_1.png');
  _background: none;
}
.bi-theme-dark .tree-expand-icon-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_expand_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_expand_2.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-expand-icon-type2 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_expand_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_expand_2.png');
  _background: none;
}
.bi-theme-dark .tree-expand-icon-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_expand_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_expand_3.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-expand-icon-type3 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_expand_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_expand_3.png');
  _background: none;
}
.bi-theme-dark .tree-expand-icon-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_expand_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_expand_4.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-expand-icon-type4 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_expand_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_expand_4.png');
  _background: none;
}
.bi-theme-dark .tree-vertical-line-type2 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_vertical_line_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_vertical_line_2.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-vertical-line-type2 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_vertical_line_2.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_vertical_line_2.png');
  _background: none;
}
.bi-theme-dark .tree-vertical-line-type3 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_vertical_line_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_vertical_line_3.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-vertical-line-type3 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_vertical_line_3.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_vertical_line_3.png');
  _background: none;
}
.bi-theme-dark .tree-vertical-line-type4 .x-icon {
  display: block;
  background: url('images/2x/icon/dark/tree_vertical_line_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/dark/tree_vertical_line_4.png');
  background-size: contain;
  _background: none;
}
.bi-theme-dark .tree-vertical-line-type4 .x-icon.hack {
  background: url('images/1x/icon/dark/tree_vertical_line_4.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/dark/tree_vertical_line_4.png');
  _background: none;
}
.check-box-icon .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_normal.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/check_box_normal.png');
  background-size: contain;
  _background: none;
}
.check-box-icon .x-icon.hack {
  background: url('images/1x/icon/check_box_normal.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/check_box_normal.png');
  _background: none;
}
.check-box-icon.active .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_active.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/check_box_active.png');
  background-size: contain;
  _background: none;
}
.check-box-icon.active .x-icon.hack {
  background: url('images/1x/icon/check_box_active.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/check_box_active.png');
  _background: none;
}
.check-box-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/check_box_disable.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/check_box_disable.png');
  background-size: contain;
  _background: none;
}
.check-box-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/check_box_disable.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/check_box_disable.png');
  _background: none;
}
.radio-icon .x-icon {
  display: block;
  background: url('images/2x/icon/radio_normal.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/radio_normal.png');
  background-size: contain;
  _background: none;
}
.radio-icon .x-icon.hack {
  background: url('images/1x/icon/radio_normal.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/radio_normal.png');
  _background: none;
}
.radio-icon.active .x-icon {
  display: block;
  background: url('images/2x/icon/radio_active.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/radio_active.png');
  background-size: contain;
  _background: none;
}
.radio-icon.active .x-icon.hack {
  background: url('images/1x/icon/radio_active.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/radio_active.png');
  _background: none;
}
.radio-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/radio_disable.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/radio_disable.png');
  background-size: contain;
  _background: none;
}
.radio-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/radio_disable.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/radio_disable.png');
  _background: none;
}
.check-half-select-icon .x-icon {
  display: block;
  background: url('images/2x/icon/half_selected.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/half_selected.png');
  background-size: contain;
  _background: none;
}
.check-half-select-icon .x-icon.hack {
  background: url('images/1x/icon/half_selected.png') no-repeat 0px 0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/half_selected.png');
  _background: none;
}
.slider-icon .x-icon {
  display: block;
  background: url('images/2x/icon/slider_normal_small.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/slider_normal_small.png');
  background-size: contain;
  _background: none;
}
.slider-icon .x-icon.hack {
  background: url('images/1x/icon/slider_normal_small.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/slider_normal_small.png');
  _background: none;
}
.slider-icon:hover .x-icon,
.slider-icon.hover .x-icon {
  display: block;
  background: url('images/2x/icon/slider_active_small.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/slider_active_small.png');
  background-size: contain;
  _background: none;
}
.slider-icon:hover .x-icon.hack,
.slider-icon.hover .x-icon.hack {
  background: url('images/1x/icon/slider_active_small.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/slider_active_small.png');
  _background: none;
}
.slider-icon.disabled .x-icon {
  display: block;
  background: url('images/2x/icon/slider_normal_small.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/2x/icon/slider_normal_small.png');
  background-size: contain;
  _background: none;
}
.slider-icon.disabled .x-icon.hack {
  background: url('images/1x/icon/slider_normal_small.png') no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/1x/icon/slider_normal_small.png');
  _background: none;
}
