.icon-size-12 .b-font {
  font-size: 12px;
}
.icon-size-16 .b-font {
  font-size: 16px;
}
.icon-size-24 .b-font {
  font-size: 24px;
}
.icon-size-40 .b-font {
  font-size: 40px;
}
.icon-size-50 .b-font {
  font-size: 50px;
}
.icon-size-70 .b-font {
  font-size: 70px;
}
