@import "../../index";

.bi-relation-view-region {
  & .relation-view-region-container {
    &.other-package {
      border-style: dashed;
    }
    z-index: 1;
    .border-radius(2px);
    & .relation-view-region-title {
      & .eye{
        font-size: 16px;
      }
    }

    & .split-line{
      border-bottom: 1px solid @color-bi-border-disabled
    }
  }
}