/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-segment-button:active,
.bi-segment-button.active {
  color: #ffffff;
  background: #009de3;
}
.bi-segment-button.disabled,
.bi-segment-button.disabled:hover,
.bi-segment-button.disabled:active {
  color: #1a1a1a;
  background: #ffffff;
}
