.bi-segment > .center-element {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #ffffff;
  border-right: 1px solid #e8eaed;
  border-top: 1px solid #e8eaed;
  border-bottom: 1px solid #e8eaed;
}
.bi-segment > .first-element {
  border-left: 1px solid #e8eaed;
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}
.bi-segment > .last-element {
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}
.bi-theme-dark .bi-segment > .center-element {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #242640;
  border-right: 1px solid #f2f4f7;
  border-top: 1px solid #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
}
.bi-theme-dark .bi-segment > .first-element {
  border-left: 1px solid #242640;
}
