@import "../../index";

.bi-single-select-combo{
  & .single-select-trigger-icon-button{
    font-size: 16px;
  }
  & .trigger-up {
    display: none;
  }
  & .trigger-down {
    display: block;
  }
  &.combo-show {
    & .trigger-up {
      display: block;
    }
    & .trigger-down {
      display: none;
    }
  }
  &:hover {
    & .search-text-value-trigger {
      border-color: @color-bi-border-highlight;
    }
  }
  &:focus, &:focus-within {
    & .bi-combo {
      &.bi-combo-popup {
        & .bi-single-select-trigger {
          border-color: @color-bi-border-highlight;
        }
      }
    }
  }
}