@import "../../../bibase";

.bi-loading-main-background {
  background-color: @color-bi-background-default;
  .opacity(0.7);
}

.bi-loading-mask-content {
  & .loading-bar-label {
    font-size: 20px;
    color: @color-bi-text-gray;
  }
}