.bi-preview-table-cell {
  min-height: 25px;
  min-width: 80px;
}

.bi-preview-table-header-cell {
  font-weight: bold;
  min-height: 25px;
  min-width: 80px;
}

.bi-preview-table {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.bi-preview-table > div > table > thead > tr.odd,
.bi-preview-table > div > div > div > table > thead > tr.odd {
  background-color: #f7f8fa;
}
.bi-theme-dark .bi-preview-table > div > table > thead > tr.odd,
.bi-theme-dark .bi-preview-table > div > div > div > table > thead > tr.odd {
  background-color: #191B2B;
}
