@import "../../bibase";

.bi-sheet-tab-dynamic-button {
  background: @color-bi-background-light;
  border-top: 1px solid @color-bi-border-normal;

  & .bi-icon-button-scroll {
    border:1px solid @background-color-light;
    &:hover {
      border-color: @color-bi-border-normal;
    }
  }
}