@import "../../../bibase";

.bi-multi-select-check-selected-button {
  border: 1px solid @color-bi-text-highlight;
  .border-corner-radius(8px, 8px, 8px, 8px);
  color: @color-bi-text-highlight;
  background-color: @color-bi-background-default;
  z-index: 1;
}