.bi-tooltip {
  position: fixed !important;
  max-width: 250px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  color: #ffffff;
}
.bi-tooltip.tooltip-success {
  background: #647185;
  border: 1px solid #647185;
}
.bi-tooltip.tooltip-warning {
  background: #ff4949;
  border: 1px solid #e85050;
}
