.bi-toast {
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-toast.toast-success {
  background: #e1f4e7;
  color: #5cb75d;
}
.bi-toast.toast-warning {
  background: #ff4949;
  color: #ff4949;
}
