.bi-toast {
  position: fixed !important;
  font-size: 14px;
  color: #ffffff;
  max-width: 400px;
  min-width: 150px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bi-toast.toast-success {
  background: #58cc7d;
}
.bi-toast.toast-warning {
  background: #faaa39;
}
.bi-toast.toast-error {
  background: #ff4949;
}
.bi-toast.toast-normal {
  background: #3f8ce8;
}
.bi-toast .toast-icon {
  font-size: 16px;
}
