@import "../../index";
.bi-tree-expander-popup.line:before {
  position: absolute;
  content: "";
  border-left: 1px dashed @color-bi-border-tree-expander-popup-line;
  height: 100%;
  left: 11px;
}

.bi-tree-expander-popup.line.solid:before {
  border-left: 1px solid @color-bi-border-tree-expander-popup-line;
  left: 15px;
}

.bi-theme-dark {
  .bi-tree-expander-popup.line:before {
    border-left: 1px dashed @color-bi-border-tree-expander-popup-line-theme-dark;
  }
  .bi-tree-expander-popup.line.solid:before {
    border-left: 1px solid @color-bi-border-tree-expander-popup-line-theme-dark;
  }
}
