@import "../../index";
@import "../../image";
@import "../../lib/icon";
.bi-tree-expander-popup.line:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 24px;
  .imagePath(@icon-tree-vertical-line-1, 0, 0, repeat-y);
}

.bi-tree-expander-popup.line.solid:before {
  border-left: 1px solid @color-bi-border-tree-expander-popup-line;
  left: 15px;
}

.bi-theme-dark {
  .bi-tree-expander-popup.line:before {
    border-left: 1px dashed @color-bi-border-tree-expander-popup-line-theme-dark;
  }
  .bi-tree-expander-popup.line.solid:before {
    border-left: 1px solid @color-bi-border-tree-expander-popup-line-theme-dark;
  }
}
