/****添加计算宽度的--运算符直接需要space****/
/****** common color(常用颜色,可用于普遍场景) *****/
/**** custom color(自定义颜色,用于特定场景) ****/
.bi-arrangement .arrangement-helper {
  border: 1px solid #d4dadd;
  background: #009de3;
  z-index: 1000000000;
}
.bi-arrangement .arrangement-block {
  z-index: 1000000000;
}
.bi-arrangement .arrangement-drop-container {
  z-index: 1000000000;
}
.bi-arrangement .arrangement-drop-container .arrangement-drop-region {
  overflow: hidden;
}
.bi-arrangement .arrangement-drop-container .drop-devider {
  z-index: 1000000001;
  background: #009de3;
}
.bi-arrangement .arrangement-drop-container .top-left,
.bi-arrangement .arrangement-drop-container .top-right,
.bi-arrangement .arrangement-drop-container .bottom-left,
.bi-arrangement .arrangement-drop-container .bottom-right,
.bi-arrangement .arrangement-drop-container .top-left-second,
.bi-arrangement .arrangement-drop-container .top-right-second,
.bi-arrangement .arrangement-drop-container .bottom-left-second,
.bi-arrangement .arrangement-drop-container .bottom-right-second,
.bi-arrangement .arrangement-drop-container .top-center,
.bi-arrangement .arrangement-drop-container .bottom-center,
.bi-arrangement .arrangement-drop-container .left-center,
.bi-arrangement .arrangement-drop-container .right-center,
.bi-arrangement .arrangement-drop-container .top-center-second,
.bi-arrangement .arrangement-drop-container .bottom-center-second,
.bi-arrangement .arrangement-drop-container .left-center-second,
.bi-arrangement .arrangement-drop-container .right-center-second {
  z-index: 1000000001;
  background: #009de3;
}
