@import "../../index";
/*************BI.SearchEditor******************/
.bi-search-editor {
  .border-radius(2px);
  & .circle-close-font{
    font-size: @font-size-16;
  }
  & .search-font{
    font-size: @font-size-16;
  }
  &.disabled {
    background-color: @color-bi-background-disabled;
  }
}

.bi-theme-dark {
  .bi-search-editor {
    &.disabled {
      background-color: @color-bi-background-disabled-theme-dark;
    }
  }
}