@import "../../index.less";

.bi-small-search-editor {
  & .bi-editor {
    font-size: @font-size-12;

    & .bi-input {
      font-size: @font-size-12;
    }

    & .bi-label {
      font-size: @font-size-12;
    }
  }

  & .close-font {
    font-size: @font-size-16;
  }

  & .search-font {
    font-size: @font-size-16;
  }
}
