@import "../../bibase";

.bi-multi-tree-trigger {
  border: 1px solid @color-bi-border-normal;
  .border-corner-radius(2px, 2px, 2px, 2px);

  & .trigger-icon-button {
    border-left: 1px solid @color-bi-border-normal;
    font-size: 16px;
  }
}