@import "../../src/less/position";
@import "../../src/less/box-model";
@import "../../src/less/typographic";
@import "../../src/less/visual";
@import "../../src/less/lib/colors";

@webUrl: 'http://fanruan.coding.me/fineui/dist/';
@imageUrl: '@{webUrl}images/1x/'; //图片的基本地址
@image2xUrl: '@{webUrl}images/2x/'; //图片的基本地址