@import "../../../bibase";

.bi-progress-bar{
  & .progress-bar-label{
    font-weight: bold;
    font-family: "微软雅黑";
    color: @color-bi-text-highlight;
    &.success{
      color: @color-bi-text-success;
    }
  }
}