@import "../../index";

.bi-segment-button {
  @transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s;
  .transition(@transition);
  color: @color-bi-text-segment-button;
}

.bi-line-segment-button {
  .line-segment-button-line {
    .transition(background 0.3s);
  }
  &.active, &:active {
    font-weight: bold;
  }
}
