@import "../../index";

.bi-segment{
  & > .center-element{
    .overflow-hidden();
    border-right: 1px solid @color-bi-split-segment;
    border-top: 1px solid @color-bi-split-segment;
    border-bottom: 1px solid @color-bi-split-segment;
  }
  & > .first-element{
    border-left: 1px solid @color-bi-split-segment;
    .border-corner-radius(2px,0px,0px,2px)
  }
  & > .last-element{
    .border-corner-radius(0px,2px,2px,0px)
  }
  &.disabled > .center-element, &.disabled > .first-element{
    border-color: @color-bi-split-disabled-segment;
  }
}

.bi-theme-dark {
  .bi-segment {
    & > .center-element{
      .overflow-hidden();
      border-right: 1px solid @color-bi-split-segment-theme-dark;
      border-top: 1px solid @color-bi-split-segment-theme-dark;
      border-bottom: 1px solid @color-bi-split-segment-theme-dark;
    }
    & > .first-element{
      border-left: 1px solid @color-bi-split-segment-theme-dark;
    }
  }
}
