@import "../../index";

.bi-bubble-combo {
  & .button-combo-triangle-wrapper {
    position: fixed !important;
    .z-index-layer(@zIndex-popup);
  }
  & .bubble-combo-triangle-left {
    z-index: 1;
    .triangle-right();
    //.solid-triangle-right(@color-bi-background-highlight);
  }
  & .bubble-combo-triangle-right {
    z-index: 1;
    .triangle-left();
    //.solid-triangle-left(@color-bi-background-highlight);
  }
  & .bubble-combo-triangle-top {
    z-index: 1;
    .triangle-bottom();
    //.solid-triangle-down(@color-bi-background-highlight);
  }
  & .bubble-combo-triangle-bottom {
    z-index: 1;
    .triangle-top();
    //.solid-triangle-up(@color-bi-background-highlight);
  }
}