@import "../../index";
.bi-combo {
  &.bi-combo-popup {
    display: block !important;
    visibility: visible !important;
    & > .bi-trigger {
      & .bi-trigger-icon-button{
        & .x-icon {
          .rotate(180deg);
        }
      }
    }
  }
  &.bi-combo-popup, &.bi-combo-hover, &:hover {
    & > .bi-border {
      border-color: @color-bi-border-highlight;
    }
  }
  &.disabled {
    background-color: @color-bi-background-disabled;
    &.bi-combo-hover, &:hover {
      & > .bi-border {
        border-color: @border-color-line;
      }
    }
  }
}

.bi-theme-dark {
  .bi-combo {
    &.disabled {
      background-color: @color-bi-background-disabled-theme-dark;
      &.bi-combo-hover, &:hover {
        & > .bi-border {
          border-color: @border-color-line-theme-dark;
        }
      }
    }
  }
}
