.bi-number-interval .number-interval-small-editor {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.bi-number-interval .number-interval-big-editor {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.bi-number-interval .number-interval-big-combo {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.bi-number-interval .number-interval-big-combo .bi-icon-combo-trigger .icon-combo-trigger-icon {
  font-size: 14px;
}
.bi-number-interval .number-interval-small-combo {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.bi-number-interval .number-interval-small-combo .bi-icon-combo-trigger .icon-combo-trigger-icon {
  font-size: 14px;
}
.bi-number-interval.number-error .bi-input {
  color: #ff4949 !important;
}
