@import "../../../bibase";


.bi-multi-tree-check-pane{
  background-color: @color-bi-background-gray;
  & .multi-tree-continue-select{
    background-color: @color-bi-background-gray;
  }
  & .multi-tree-check-selected{
    color: @color-bi-text-highlight;
  }
}