@import "../../bibase";
.bi-web-page{
  & .web-page-button {
    z-index: 1;
    font-size: @font-size-14;
    background-color: @color-bi-background-default;
  }
  & .web-page-text-button-label{
    font-size: @font-size-16;
    color:  @font-color-tips
  }

  & .web-page-delete-label{
    font-size: @font-size-14;
    color: @font-color-normal;
  }
}