@import "../../bibase";

.bi-sortable-table{
  & .sortable_table_drag_clone {
    background: @background-color-light-blue;
    top: 0px;
    opacity: (0.5);
  }
  & .drag-header{
    cursor: move;
  }
  & .insert-help-line {
    border-right: 3px dashed @background-color-highlight;
  }
}