.bi-sql-editor .cm-s-default span[class*="#"] {
  color: #3685f2;
}
.bi-sql-editor .cm-s-default .cm-keyword {
  color: #3685f2;
}
.bi-sql-editor .cm-s-default .cm-function {
  color: #3685f2;
}
.CodeMirror-hints .sql-fr-function {
  color: #3685f2;
}
.CodeMirror-hints .sql-keyword {
  color: #3685f2;
}
