@import "../../index.less";

.bi-all-count-pager {
  & .all-pager-prev {
    font-size: @font-size-16;
  }
  & .all-pager-next {
    font-size: @font-size-16;
  }
  & .row-count {
    color: @color-bi-text-all-count-pager-row-count;
  }
}