@import "../../index";

.bi-text {
  .overflow-dot();
  .box-sizing(border-box);
  // BI-9141 加的，但是去掉后在firefox下没有问题，先去掉以适配ie9
  word-break: break-word;
  // safari下text-overflow:ellipsis且显示不下会有title
  &:before {
    content: '';
    display: block;
  }
}