@import "../../../bibase";


.bi-multi-select-check-pane{
  & .multi-select-continue-select{
    background-color: @color-bi-background-gray;
  }
  & .multi-select-check-selected{
    color: @color-bi-text-highlight;
    text-decoration: underline;
  }
}