.bi-slider-track .gray-track {
  background-color: #F2F4F7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-slider-track .blue-track {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-slider-track .disabled-blue-track {
  background-color: #d0d4da;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
