.bi-slider-track .gray-track {
  background-color: rgba(61, 77, 102, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a3d4d66,endColorstr=#1a3d4d66);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-slider-track .blue-track {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-slider-track .disabled-blue-track {
  background-color: #d0d4da;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-theme-dark .bi-slider-track .gray-track {
  background-color: rgba(214, 224, 220, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1ad6e0dc,endColorstr=#1ad6e0dc);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bi-theme-dark .bi-slider-track .disabled-blue-track {
  background-color: #606479;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
