@import "../../bibase";

.bi-numerical-interval {
  & .numerical-interval-small-editor {
    border-top: 1px solid @color-bi-border-normal;
    border-bottom: 1px solid @color-bi-border-normal;
    border-left: 1px solid @color-bi-border-normal;
    .border-corner-left-radius(2px, 2px);
  }
  & .numerical-interval-big-editor {
    border-top: 1px solid @color-bi-border-normal;
    border-bottom: 1px solid @color-bi-border-normal;
    border-right: 1px solid @color-bi-border-normal;
    .border-corner-right-radius(2px, 2px);
  }
  & .numerical-interval-big-combo {
    border: 1px solid @color-bi-border-normal;
    .border-corner-left-radius(2px, 2px);
    & .bi-icon-combo-trigger {
      & .icon-combo-trigger-icon {
        font-size: @font-size-14;
      }
    }
  }

  & .numerical-interval-small-combo {
    border: 1px solid @color-bi-border-normal;
    .border-corner-right-radius(2px, 2px);
    & .bi-icon-combo-trigger {
      & .icon-combo-trigger-icon {
        font-size: @font-size-14;
      }
    }
  }

  &.number-error .bi-input {
    color: @color-bi-text-warning
  }
}