@import "../../bibase";

.bi-numerical-interval-popup{
  & .numerical-interval-popup-item{
    &.hover, &:hover{
      background-color: @color-bi-background-gray;
    }
    &.active, &:active{
      background-color: @color-bi-background-gray;
      color: @color-bi-text-highlight;
    }
  }
}